[2019-08-11 02:13] zenomt opened #1 "substantial and significant security issues with current "bearer token" scheme"
as i mentioned [on the mailing list on july 12](https://lists.w3.org/Archives/Public/public-solid/2019Jul/0003.html), i believe there are substantial and significant security issues with the currently implemented ~~(with documentation [waiting to be merged](https://github.com/solid/webid-oidc-spec/pull/27))~~ Proof-of-Possession "bearer token" authorization scheme.  the most important issues are:

[2019-08-12 14:23] jaxoncreed opened #2 "General Improvements"
General ideas for improvement
 - Formalize the PoP token standard
 - Find the correct approach to do multi-RS authentication (try to make it as close to what currently exists)
 - Use of self signed authentication (without an identity provider)
 - Document differences between in-browser apps and services
 - Interop with other decentralized auth
    - DID Auth
 - Multi User Device auth (with alterna

[2019-08-12 15:00] elf-pavlik commented on #2
IDPs can have great variety of authentication, this way person can choose their IDP that supports what they need and participate in any group WAC controlled storage which only needs to support common standard (if possible one).

[2019-08-12 20:28] dmitrizagidulin commented on #1
Hi @zenomt! Thanks for bringing up these issues; these are all excellent discussion points.

Couple of comments to clarify.

That's correct. Specifically, the client (RP/presenter) issues signed PoP tokens for each resource server. The resource server has only two inputs at the moment (as reflected in the `WWW-Authenticate` response headers on 401s):

Sample 401 header: `WWW-Authenticate: Bearer r

[2019-08-13 02:27] zenomt commented on #1
replies to a few points.

regarding token revocation:

sure. the "no reasonable way" part refers to how to implement it.  the server could remember that it doesn't like the webid (which could potentially affect other authenticated sessions, like from other devices), or that it doesn't like the `cnf` key, or some other unique claim of the token, or the entire token, or a hash of it.  the server wou

[2019-08-13 11:50] dmitrizagidulin commented on #1
Although it is mentioned in the `WWW-Authenticate` header spec, multiple realms (or realms in general) is not really widely used. Specifically, the realm mechanism is used for http Basic auth, and it was used for OpenID 2.0, but deprecated and removed in OpenID Connect. Can you think of other crucial usages of it, that Solid needs to support?

So, my question about that setup is - why wouldn't tho

[2019-08-13 11:56] dmitrizagidulin opened #3 "Consider adding a 'nonce' param to WWW-Authenticate response header"
As mentioned by @zenomt in https://github.com/solid/authentication-panel/issues/1, it may be advantageous to:

1. Add a `nonce` param to the Resource Server's 401 `WWW-Authenticate` response headers.
2. Require WebID-OIDC tokens (bearer or PoP) to include that nonce param, for verification by the RS

Opening this issue as a reminder to discuss:

* Whether to include this mechanism in whatever auth

[2019-08-13 12:18] dmitrizagidulin opened #4 "Decide on header/mechanism for reporting auth metadata for a Solid pod (RS)"
As both the authentication and authorization/acl systems for Solid evolve, it would be helpful to standardize on (and document) some way to inform clients as to which system (and spec version) a particular storage pod (Resource Server, in oauth2 terms) is running.

For example, currently, we use the `scope` param of the `WWW-Authenticate` response header, to help `solid-auth-client` figure out whi

[2019-08-13 12:23] dmitrizagidulin commented on #1
As a result of the discussion so far, I opened a couple of new issues:

* #4 "Decide on header/mechanism for reporting auth metadata for a Solid pod (RS)"
* #3 "Consider adding a 'nonce' param to WWW-Authenticate response header"

[2019-08-13 15:17] zenomt commented on #1
we had another call this morning (for folks who missed the schedule change) where it was suggested i link more prominently to my proposed solution to the bullet points in this issue's description.

https://github.com/zenomt/webid-auth-protocol addresses the concerns i enumerated above.

i made a reference implementation (auth server and command-line token getter) of that proposed auth protocol at

[2019-08-13 18:22] zenomt commented on #2
as we discussed on the call, supporting the magic issuer `https://self-issued.me` and a public key in the profile isn't that much work, but it does require a little bit of special-case code. the benefits are:

* marginally easier to set up on an ordinary static web server
* enables on-device authentication (for example, a native app on a mobile device) using the self-issuer workflow envisioned by

[2019-08-13 18:38] zenomt commented on #1
i'd be happy saying in the spec something like "hey clients, don't forget about realms!", and maybe punting on it in a reference implementation until a situation comes up where it's needed. i think that kind of situation might arise further down the line when Solid becomes more standard™, and its principles (like LDP servers) are more ubiquitous. in enterprise systems today at least it's not uncom

[2019-08-13 18:45] dmitrizagidulin commented on #1
@zenomt I see, thanks.

[2019-08-13 18:49] dmitrizagidulin commented on #1
@zenomt Question about the cost aspect, though. Do you find it the case (in enterprise environment) where the cost of a single additional certificate (for a specific subdomain) outweighs the security downsides to using multiple realms per domain?

[2019-08-13 19:52] zenomt commented on #1
@dmitrizagidulin sorry, i didn't mean to imply that a wildcard certificate was exorbitant (though last time i looked at the prices we pay at Day Job i'm glad i wouldn't have to pay out of my own pocket!). i merely wanted to challenge the notion that they are "free", and to challenge that (specifically) Let's Encrypt is a viable alternative in enterprise deployments.

the Same Origin concept defini

[2019-08-13 20:05] dmitrizagidulin commented on #1
@zenomt Got it, I think I understand what you're saying. Thanks!

[2019-08-16 17:06] jaxoncreed opened #5 "Identity Broker Pattern"
Consider implementing the identity token pattern for resolving webIds

https://ldapwiki.com/wiki/Identity%20Broker

[2019-08-16 17:14] jaxoncreed opened #6 "Use OAuth.xyz"
Notes from Justin Richer

The current OIDC use in Solid required dynamic registration which, for the Solid use case, is an unneeded step. https://oauth.xyz/ might be a better fit

[2019-08-16 17:40] jaxoncreed opened #7 "Changes to the PoP Token flow"
Notes from Justin Richer:

The current flow the PoP tokens can be kept with these changes:
 - Use access tokens rather than id tokens (Don't present an id token to a third party)
 - Change signatures to model DPoP or Cavage Signatures or HTTP signatures for OAuth Proof of Possession.

[2019-08-17 03:32] jaxoncreed commented on #7
DPoP Draft Proposal: https://tools.ietf.org/html/draft-fett-oauth-dpop-00
Cavage Signatures Draft: https://tools.ietf.org/html/draft-cavage-http-signatures-10

[2019-08-20 13:46] kjetilk opened #8 "Is a Solid client on an Arduino Uno achievable?"
I can't get myself into much more in the project, but it seems like this question has quite a lot of interesting implications, so it might be a topic that the panel should discuss.

So, first Arduino Uno is a [cheap](https://www.aliexpress.com/wholesale?catId=0&initiative_id=AS_20190820053319&SearchText=arduino+uno+r3&switch_new_app=y) and [small microcontroller](https://store.arduino.cc/arduino-u

[2019-08-20 15:18] dmitrizagidulin commented on #8
+1, this is a great topic. And as you can imagine, everybody who wants to do something with constrained IoTs bumps up against this. I'm sure we'll discuss this in more detail, but I want to add two quick links:

* On the practical side: the ongoing work over at the [Authentication and Authorization for Constrained Environments (ACE) using the OAuth 2.0 Framework](https://tools.ietf.org/html/draft-

[2019-08-27 03:08] zenomt opened #9 "consider handling multiple realms per origin"
according to discussion in #1, there is currently no support in solid auth clients for multiple [realms/protection spaces](https://tools.ietf.org/html/rfc7235#section-2.2) per origin. the current POP token construction implies that the same token can be used in any protection space at an origin.

addressing this can be done entirely on the client side today, by paying attention to the `realm` para

[2019-08-27 03:30] zenomt opened #10 "add a method for the resource server to constrain the validity period of access tokens"
in the current POP token scheme, the client manufactures an access token to present to a server. the client chooses how long this token is valid for (`nbf` and `exp`), constrained only by the validity of the `id_token` obtained from the client's OpenID Provider.

this is problematic for at least three reasons:

1. there's no reasonable way for the server to indicate to the client that validity per

[2019-08-28 05:54] zenomt opened #12 "consider methods to obtain access tokens from an authorization server instead of making them in the client"
in the current POP token scheme, the client directly manufactures an access token to present to the server with the "`Bearer`" method. as discussed on the 2019-08-26 and other calls and in #1, i believe there are numerous problems with the current POP token scheme.

several issues raised in #1 can at least be partially addressed by approaches discussed in #3, #9, #10. a summary of the most importa

[2019-08-31 22:54] jaxoncreed opened #14 "Allow the Implicit Flow or Ban It"
Background:

The OAuth Implicit Grant (https://auth0.com/docs/flows/concepts/implicit) is vulnerable to Cross Side Scripting attacks, but is still an OAuth standard. The Authorization Code Grant with PKCE (https://auth0.com/docs/flows/concepts/auth-code-pkce) is used for the same use case as the Implicit Grant but is not vulnerable to XSS

Pros/Cons of removing it:
 - Pros:
     - Ensures that no

[2019-09-01 00:37] jaxoncreed opened #15 "How does a user revoke a PoP Token for all resource servers"
This issue has similar concert to the one @zenomt raised here https://github.com/solid/authentication-panel/issues/1 but from a different perspective.

It's true that the resource server can ignore a token it finds unsavory, but what if the following happens:

Alice logs into `shadyapp.com` and `shadyapp.com` receives a token so it can query Alice and Alice's friends Pods. Later Alice sees an arti

[2019-09-01 01:26] zenomt commented on #15
typically this is handled by the tokens (the id_token for the POP token scheme and my scheme) having short lifetimes, on the order of minutes to hours, rather than days to weeks.  by not using the app anymore, logging out, revoking any refresh_tokens (or not even issuing refresh_tokens) or revoking consent for `shadyapp.com`, any in-use tokens will eventually expire, and `shadyapp.com` won't be ab

[2019-09-01 01:27] jaxoncreed commented on #15
That makes sense

[2019-09-01 01:27] #15 closed

[2019-09-02 01:53] jaxoncreed opened #16 "Alternative protocols for resolving WebIDs"
Background:

Currently in the WebID spec (https://www.w3.org/2005/Incubator/webid/spec/identity/#the-webid-http-uri) limits disco limits discovery to the http (or https) protocol. However, there are other possibilities for discovery including but not limited to:
 - IPFS (https://ipfs.io/) a distributed file system that could resolve to turtle documents.
 - Decentralized Identifiers - DID (https://

[2019-09-02 02:31] jaxoncreed commented on #8
Agreed interesting topic. It might be solved with something as simple as a client-credentials grant where you would share your credential secrets with the IoT device and it could automatically authenticate.

Though, if you don't want to share your credentials with it, then it becomes a bit more complicated. It could possibly send a notification to your Pod that would open a window on your personal

[2019-09-02 03:33] jaxoncreed commented on #5
I'll expand on this a bit by document offline discussions between the Inrupt enterprise team and Justin Richer:

The point of the identity broker is to allow log-in to traditional OIDC systems without needing to modify those systems. Instead a broker sits in between and serves as the official IDP at least in the minds of the resource server. When you log into the traditional OIDC system, you are t

[2019-09-02 10:04] kjetilk commented on #8
Yeah, but the thing is that I want to give it a URI too, and use that URI to set `acl:Authorization`s for it.

Yeah, but what I had mind was actually that you didn't give it your credentials, but you could, under your own pod, give devices URIs, and then generate credentials to authenticate that URI... Something like that.

[2019-09-02 10:31] bblfish opened #18 "Detailing HTTP-Signature based authentication for Solid"
I think it would be useful to detail [HTTP-Signatures](https://w3c-dvcg.github.io/http-signatures/) based authentication for Solid. I [wrote an implementation for it](https://w3c-dvcg.github.io/http-signatures/) a few years ago for the server, and one before that for the client using Web-Crypto.

Not much is needed in addition to the existing spec. I can think of the following:
 1. A definititon o

[2019-09-02 12:37] elf-pavlik commented on #15
It sounds to me like app authoriaztion concern. Recently I've created issue about revoking app authorizations: https://github.com/solid/app-authorization-panel/issues/24

[2019-09-03 13:44] elf-pavlik commented on #14
As discussed during last call, it seems to affect implementations of OPs and clients / apps. We probably want to avoid need for both OPs and clients / apps to implement both flows. Given preference for PKCE, preferably all OPs and clients / apps in ecosystem will implement PKCE. If some client / app would only implement implicit flow it will not work with OPs which only implement PKCE. For wording

[2019-09-03 14:32] jaxoncreed commented on #8
Could you go into more detail on the step-by-step for that?

[2019-09-03 16:15] kjetilk commented on #8
Perhaps, it is a very loose thought, so more a braindump than a step-by-step, but here we go:

1) An app that is authenticated as a normal user creates a resource, e.g.

https://iot.example/devices/thermo.ttl

which has some Turtle

[code]
The latter is a reference to a resource that must be adequately protected, since it contains a secret:

[code]

Just got some inspiration from UNIX' `/etc/passw

[2019-09-04 02:53] zenomt commented on #8
just thinking out loud here...

if your IoT device could do https, how about something like (for the IoT profile):

[code]

the password is audience restricted so that, since the plain password is divulged to the audience, it can't turn around and use that password anywhere else.

the IoT device would just need to be configured with its webid and password(s) for its audience(s), assuming its profi

[2019-09-04 03:09] zenomt commented on #8
servers would need to support this `Basic` scheme too:

    WWW-Authenticate: Bearer realm="/auth/", scope="openid webid",
        Basic realm="/auth/", scope="webid"

[2019-09-04 05:11] zenomt commented on #8
or, to get the benefits of server-issued access tokens (see #12), [my auth proposal](https://github.com/zenomt/webid-auth-protocol) could be extended with a "get an access token with basic auth" method, that would otherwise work just like the [WebID-TLS](https://github.com/zenomt/webid-auth-protocol#webid_tls_endpoint-api-parameters) token endpoint:

    WWW-Authenticate: Bearer realm="/auth/",

[2019-09-04 10:26] kjetilk commented on #8
@zenomt

I don't think TLS can be assumed. I haven't seen any successful implementations. The Arduino Uno has just 2k of RAM, so you can't even fit a 2048 bit key in there (assuming there are other things than the key)... However, perhaps it is the assumption that you need to have deal with public keys that has made it hard? Could perhaps TLS-PSK make it workable? I really have no idea. I think it

[2019-09-11 14:58] bblfish commented on #18
This protocol was discussed with @elf-pavlik and @zenomt on Wednesday 11 Sept 2019 and [notes left on hackmd.io](https://hackmd.io/bvw37jzHSRiA35TWrKBF3A). Will try to distill some of the thoughts here.

[2019-09-16 17:14] jricher opened #21 "Proposal for keyed Access Tokens in a Distributed Network"
**Public Clients**. Instead of dynamic registration as in the current prototype, we should be using static registration or its equivalent to introduce a client to the AS. With the current prototype setup, registration is required to set up a client_id and associate it with the application keys. The downside is that for ephemeral applications, and even native applications that can get deactivated/u

[2019-09-16 18:04] bblfish commented on #18
There were a couple of discussions on the Solid group of the intiial proposal, with meeting notes [listed here](https://github.com/solid/authentication-panel/issues/18#issuecomment-530420480).
The first was with a longer but with only 3 members present, the second was shorter but with a number of people of which the CTO of Inrupt.
Perhaps it would be worth chatting to a some people here about thos

[2019-09-16 18:46] zenomt commented on #21
@jricher regarding Dynamic Registration: today, dynamic registration is used only between a client (such as a single-page browser app (SPA)) and the user's OpenID Provider. since the user is likely to be the same from use-to-use of the same SPA in the same browser on the same device, the SPA can (and many do) remember the client ID & secret (and other aspects of the openid-configuration) from run-

[2019-09-16 19:26] elf-pavlik commented on #21
I think for User associated Authorization Server we don't need Dynamic Registration and actually could use registration step to let the User set [app specific permissions](https://github.com/solid/app-authorization-panel). Having JWT access token to include those app specific authorizations (even just by reference) seems to address use cases where User doesn't want to define it for each Resource S

[2019-09-16 22:19] dmitrizagidulin commented on #18
One of the things that's worth noting, about any sort fo HTTP-Sig based proposals, is that it's currently used almost exclusively for secure clients (meaning, traditional server-side applications) and for server-to-server authentication. By itself, it is not appropriate for authentication of public clients (SPA / in-browser Javascript apps).

[2019-09-17 01:21] jricher commented on #21
@zenomt: DynReg is needed in WebID-OIDC because the keying material used by the client is associated with the client's registration, and not with the access token itself. This doesn't make sense for ephemeral keys and in-browser clients. This is in fact where DPoP comes into play: the keys used by DPoP do not need to be pre-registered with the client, removing the need to have each instance of the

[2019-09-17 17:54] zenomt commented on #21
@jricher i think we may be talking past each other. i have a strong feeling that i'm not understanding the access model you're describing and how that fits in with Solid.

i'm not sure what you mean by "target AS".  in the current Solid POPToken scheme and in my proposal, dynamic registration is *only* done between the client app and the user's trusted OpenID Provider.

i understand what you're sa

[2019-09-17 22:02] dmitrizagidulin commented on #21
Before weighing in, one thing I wanted to clarify:

Currently, the WebID-OIDC protocol _does not_ use the Dynamic Registration to register a client app's keys.
An ephemeral key pair for the client app is generated for each session, and is sent over to the IdP during the Authorization Request step (and returned in the ID Token). (These are the keys that are used for the PoP token etc).

So, current

[2019-09-25 01:13] elf-pavlik commented on #21
In [DPoP Proof JWTs: Syntax](https://tools.ietf.org/html/draft-fett-oauth-dpop-02#section-4.1) I see:

      attached, as defined in [RFC7231] (REQUIRED).

and later in [DPoP Proof JWTs: Checking DPoP Proofs](https://tools.ietf.org/html/draft-fett-oauth-dpop-02#section-4.2)

       request in which the JWT was received, ignoring any query and
       fragment parts,

Does it mean that if applicatio

[2019-09-25 01:57] jricher commented on #21
To clarify, the client does not create a token. The client :presents: a token with proof of a key associated with that token. So if the client is presenting that token, with its associated proof, to 1000 different RS's, and those RS's are distinct enough from each other that they'd know they were distinct, then yes it would create 1000 different proofs. It does this as part of the process of makin

[2019-09-25 02:27] elf-pavlik commented on #21
Thank you @jricher for quick answer!

In my previous comment I talked about fetching 1000 resources from the same LDP Container so we talk about single Resource Server. If DPoP Proof has *REQUIRED* `http_uri` how the same proof could be used to fetch those 1000 resources - let's say all withing 10 seconds? Actually it seems that *REQUIRED* `jti` by itself prevents using the same DPoP Proof more th

[2019-09-25 04:36] zenomt commented on #21
@elf-pavlik when doing dynamic registration, newly issued client_ids must be unique. on the monday phone call, i mentioned that my OP implementation makes new unique client_ids by encoding information about the registered response types and redirect_uris (and a random salt) directly in the client_id, so no per-client state needs to be stored in the OP. see https://github.com/zenomt/python-webid-oi

[2019-09-25 12:41] elf-pavlik commented on #21
@zenomt do you see any possible problem with all Authorization Servers using globally unique WebID of the application as its `client_id`? For Public Clients that WebID would only need to include `redirect_uri` information. For Secure Clients it could have information of Public Key similar as WebID-TLS or WebID-HttpSig proposed in #20. I think with public and global WebID for Applications (clients)

[2019-09-25 16:39] bblfish commented on #18
Here is a way to resolve the problem.

1. We can give the user pod `me.me` host an authentication JavaScript App. This App will be in charge of keeping keys using [JS Crypto's generateKey](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/generateKey) securely in the end-user's browser, in a way that not even the App can access it.
2. the WebID Profile can link to this authorization ap

[2019-09-25 16:53] jricher commented on #21
@elf-pavlik that matches my thinking on the proposal as well. I'm not enough of an expert on WebID, but as long as the AS can recognize the `client_id` and associate it with the appropriate information, we should be in fine shape.

[2019-09-25 19:27] bblfish opened #22 "how are redirect_urls authenticated?"
As I understand [identifying Apps](https://github.com/solid/authorization-and-access-control-panel/issues/30) indirectly via the `Origin` header is now no no longer correct, and [one should use](https://gitter.im/solid/app-authorization-panel?at=5d8b9a16a8c2c26e9f9c0d7b) the [redirect_url of OAuth](https://aaronparecki.com/oauth-2-simplified/) as an identifier for the app. It is clear that Origins

[2019-09-25 22:29] zenomt commented on #22
there are two main issues with the `Origin` header. the most important one is that, when authenticating with a bearer token (under control of Javascript and able to be sent to other agents), the `Origin` header can't be trusted by the Resource Server *or* the user because it might not be coming from the user's trusted web browser (and therefore might be set to anything). the other issue is that th

[2019-09-26 02:27] zenomt commented on #21
@elf-pavlik

i don't see a *security* problem with this (although since the mapping from webid to redirect_uri is only one-way, the webid of the app isn't strongly authenticated to the user by following the redirect_uri, which might be a problem, and the webid need not have the same origin as the redirect_uri, which might also be a problem; more reflection is needed).  however, i do have some othe

[2019-09-26 04:30] zenomt commented on #21
after writing that giant message above, i thought of a simple example that doesn't work for "app has a webid that the OP dereferences". imagine i'm in my corporate (or home) intranet, using an app hosted on an inside-only server `https://someapp.intranet.company.example`.  the app has a redirect URI of `https://someapp.intranet.company.example/static/oauth2.html` and a WebID of `https://someapp.in

[2019-09-26 15:01] bblfish commented on #22
Thanks for the details.

So for web sites that ask you to login via say Twitter or Github, such as [the solid forum page](https://forum.solidproject.org/) the `redirect_url` is going to be a url back to the site you want to login to.

What is the `redirect_url` for Single Page Apps? Is it the URL of the html at which the JS is located on the web?

[2019-09-26 16:09] jaxoncreed commented on #22
We use the origin of the `redirect_url` so it would be the same with a single page app as a multi-page app.

To clarify, the origin header is used to *identify* an app, but not to *authenticate* it. The redirect_url embedded in the token is used to do that. See `aud` here (https://github.com/solid/webid-oidc-spec/blob/master/application-user-workflow.md#14-generates-an-id_token)

[2019-09-27 04:41] elf-pavlik commented on #21
Just like with mobile app on the device, `redirect_uri` doesn't need to be resolvable outside of the device, the WebID does. One could keep app on the intranet but it could still have public WebID. I think in some cases Authorization Server could just use the redirect_uri to identify the client (thinking especially of public clients), still for proper UX AS also usually will need more information

[2019-09-27 11:51] bblfish commented on #18
Regarding the question as to what the problem with HTTP-Signature is felt to be @dmitrizagidulin answered on gitter that it had to do with the [problem of the Confused Deputy](https://gitter.im/solid/app-authorization-panel?at=5d8b8ea1a8c2c26e9f9bad10), which is what is behind the emergence of Capability Systems, and that these arise when 3 or more agents are involved in a secure communication. He

[2019-09-27 20:36] acoburn opened #66 "Formalize WebID-OIDC Authentication protocol"
There are, at present, two authentication protocols mentioned in The Solid Ecosystem (TSE) document: WebID-OIDC and WebID-TLS. The [WebID-TLS specification](https://www.w3.org/2005/Incubator/webid/spec/tls/) has already been formalized (as a draft) within W3C. The current [WebID-OIDC document](https://github.com/solid/webid-oidc-spec), however, has not been formalized into a similarly structured d

[2019-09-27 20:42] acoburn opened #64 "Describe PKCE requirements for WebID-OIDC protocol"
The [current WebID-OIDC protocol definition](https://github.com/solid/webid-oidc-spec) does not mention [PKCE](https://tools.ietf.org/html/rfc7636) as a mechanism for securing authentication tokens. There are good reasons why this should be used in the interaction between a client (relying party) and identity provider (it helps to avoid replay attacks in the token request interaction).

Should thi

[2019-09-27 20:48] acoburn opened #65 "Use of ID tokens in the WebID-OIDC protocol"
In a typical interaction with an OIDC provider, both an access token and an ID token are presented to a client. It is typical for clients to then use the access token in subsequent interactions with resource servers (in this case, a Pod), but the [current WebID-OIDC protocol](https://github.com/solid/webid-oidc-spec) describes using the ID token in the way one might ordinarily use an access token.

[2019-09-27 21:11] acoburn opened #69 "Generalize WebID-OIDC protocol beyond OIDC"
Some of the interactions defined in the WebID-OIDC protocol make it more similar to OAuth2 than a classic OIDC interaction. It may make sense to generalize the protocol, aligning it with OAuth2. If so, it should be decided which formalisms from OIDC would be carried over (e.g. endpoint discovery via `/.well-known/openid-configuration`)

[2019-09-27 21:17] jaxoncreed opened #63 "Define Behaviour for Multiple OpenId issuers for a WebID"
As a reference to this issue: https://github.com/solid/node-solid-server/issues/1266

Currently, the Solid spec does not explicitly define behaviour for a user who's WebID lists multiple OpenID issuers. The normative spec should indicate that when dereferencing a WebID's issuers a server must not reject a token if any of the issuers match the issuer in the token.

[2019-09-27 21:26] acoburn opened #68 "Clarify requirement and use of PoP tokens in WebID-OIDC protocol"
The [current WebID-OIDC specification](https://github.com/solid/webid-oidc-spec#securing-tokens-for-multiple-resource-servers) describes the use of [Proof of Possession tokens](https://tools.ietf.org/html/rfc7800), but many details are left out.

1. Is the `cnf` claim required?
2. Does the `cnf` claim belong in the body or header of the JWT?
3. Does the `key` field belong in the body or header of

[2019-09-29 20:32] zenomt commented on #21
@jricher with the benefit of some clarifications in this thread and time for additional reflection, i think i *mostly* understand what you proposed in the initial posting. i'll address your boldface points here:

as i mentioned above, i don't believe Dynamic Client Registration is actually a problem that needs to be solved here. i think using a webid (or any other link that must be loaded by the u

[2019-09-30 02:30] elf-pavlik commented on #21
I think this might apply in current OIDC based approach, I've been looking recently at [User-Managed Access (UMA) 2.0 Grant for OAuth 2.0 Authorization](https://docs.kantarainitiative.org/uma/wg/rec-oauth-uma-grant-2.0.html) and [Federated Authorization for User-Managed Access (UMA) 2.0](https://docs.kantarainitiative.org/uma/wg/rec-oauth-uma-federated-authz-2.0.html) (both co-authored by @jricher

[2019-09-30 13:38] elf-pavlik commented on #14
I'll make PR proposing short 'panel finding' on that, I will probably also use https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps-04#section-9.8 as informative reference.

[2019-10-05 07:46] bblfish commented on #22
I think the proposal in [User controlled Authorization App](https://github.com/solid/authorization-and-access-control-panel/issues/45) would enable the Authorization App loaded from a secure Origin and holding the private keys for all applications launched, to know the exact url of each launched app, since those were the urls used to launch the apps. This makes it possible to now both identify the

[2019-10-13 15:23] elf-pavlik commented on #3
I think UMA uses `ticket` for something similar as discussed here `challenge`

https://docs.kantarainitiative.org/uma/wg/rec-oauth-uma-grant-2.0.html#permission-success-to-client

[code]

[2019-10-13 16:12] elf-pavlik opened #25 "Authenticating Clients"
I would like to clarify how, when and with who clients have to authenticate. OAuth provides couple of mechanisms for Client to Authenticate with Authorization Server. Also for Sender Constrained (bound) tokens, Client proves possession of private key to Resource Serve, which we can also consider as a from of authenticating (possibly relying on different way to identifying the client https://github

[2019-10-14 13:30] elf-pavlik commented on #16
I see very relevant discussionabout DIDs happening in https://github.com/solid/identity-panel/issues/1

[2019-10-14 15:15] elf-pavlik commented on #25
Regarding aspect of Client authenticating to Resource Server. Depending on which identifier RS needs to authenticate we seem to have different reliance on Authorization Server. If client only needs to identify client by the key it holds and token stays bound to, RS can directly verify possession of that key. If we rely on some identifier like `redirect_uri`, RS can't directly verify it and needs t

[2019-10-14 16:47] elf-pavlik commented on #18
@bblfish given we have merged #20 I think we can close this issue and follow up with focused issues which can get addressed by focused PRs.

[2019-10-14 17:27] elf-pavlik opened #26 "Requirements related to OAuth Client Registration"
This issue intends to provide space for focused discussion on various aspects of this specific issue. Few excerpts from discussion in https://github.com/solid/authentication-panel/issues/21

An ephemeral key pair for the client app is generated for each session, and is sent over to the IdP during the Authorization Request step (and returned in the ID Token). (These are the keys that are used for t

[2019-10-15 13:49] elf-pavlik opened #27 "Authenticating Users"
While #25 focuses on authenticating Clients, here we can focus on authenticating Users. Preferably we can start following up with PRs for specific findings. In #2 we have some relevant points as well, I think we can extract ones related to user authentication here and close #2 which served as meeting notes.

* Authenticating User with Resource Servers vs. Authenticating User with OIDC Provider - I

[2019-10-15 13:55] elf-pavlik commented on #2
I think we should copy original comment to https://github.com/solid/authentication-panel/tree/master/meetings and close this issue

We already have other issues capturing most of the points
* Identity Broker Pattern #5
* consider support for OIDC self-issuer #11
* Alternative protocols for resolving WebIDs #16
* Authenticating Users #27

If someone see need to create specific issue, which we can c

[2019-10-15 14:13] elf-pavlik commented on #22
I think we can close this issue and follow up in other related issues

* Authenticating Clients #25
* Identifiers for Applications https://github.com/solid/authorization-and-access-control-panel/issues/30

In both of them we need to address what role `redirect_url` plays and they give clear context of authenticating and authorizing clients.

Otherwise we should define some criteria for resolving t

[2019-10-15 14:23] elf-pavlik commented on #5
This sounds like some UX sugar on top of `brokernet.example` acting as OP which possibly among other methods of authenticating user #27 supports 'login with google'.
I think User should still be aware that Resource Servers will not really know about them using google account and will just identify them by WebID created by `brokernet.example`.

I think we could resolve this issue by writing Panel F

[2019-10-16 19:27] jaxoncreed commented on #5
Agreed. This would be a possible implementation and would not need to be detailed in the spec.

[2019-10-16 19:28] jaxoncreed commented on #22
Agreed. We'll continue the conversation in those

[2019-10-16 19:28] #22 closed

[2019-10-16 19:32] #2 closed

[2019-10-16 20:00] #18 closed

[2019-10-16 20:47] jaxoncreed commented on #25
Unless the RS requires a token that it issues itself. As you mentioned in today's panels, that could be an option in the rare case that the RS wants to identify the client.

[2019-10-21 15:14] dmitrizagidulin commented on #4
The consensus from the 2019-10-21 Authentication panel meeting was:

1. Yes, we should use the `WWW-Authenticate` response header as the designated mechanism for a Resource Server to communicate which authentication method that server is using.
2. The registry of supported methods should live in the top-level Solid spec. (With the understanding that the initial 1.0 spec version will support just o

[2019-10-21 15:17] dmitrizagidulin commented on #4
I think the question still remains (which I forgot to bring up in the meeting):

Which attribute of the `WWW-Authenticate` header do we use to communicate the authentication mechanism a server is using?

Currently, Node Solid Server is using the `scope` attribute, where `scope="openid webid"` means "WebID-OIDC".

Are folks ok continuing to use that attribute?

[2019-10-21 15:38] jaxoncreed opened #30 "Alternative Authentication Flow"
This is based on an offline discussion between @acoburn, @dmitrizagidulin, and @jaxoncreed. TLDR, it's an authentication flow that does not require token wrapping or crypto on the client. Instead, it depends on making a round trip to the OP every time the client wants to query a new RS.

The current WebID-OIDC spec uses PoP with a wrapped id_token, to a large extent because this allows the RP to s

[2019-10-21 17:07] bblfish commented on #4
Well according to the [Mozilla document on WWW-Authenticate](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/WWW-Authenticate),

you use the type to specify the types of authentication methods allowed. They list an [IANA registry](http://www.iana.org/assignments/http-authschemes/http-authschemes.xhtml) of those.

My guess is that if the server wants to offer a number of different methods

[2019-10-22 02:31] zenomt commented on #4
WWW-Authenticate: Bearer scope="tls webid", realm="whatever"

is improper, because it has nothing to do with OAuth2-style bearer tokens. a different `auth-scheme` should have been used for this case, like

    WWW-Authenticate: WebID-TLS realm="whatever"

if we're going to document deprecated legacy behavior that was deployed, putting the `Bearer scope="tls webid"` in a registry somewhere is fine

[2019-10-22 16:41] dmitrizagidulin commented on #4
@zenomt All good points. The `scope="tls webid"` was just a historical solid-auth-client implementation note; not intending to carry it forward.

[2019-10-28 14:03] elf-pavlik commented on #4
DPoP draft intends to register *DPoP* token type for *Bearer* authentication scheme
https://github.com/danielfett/draft-dpop/blob/master/mainmatter.md#oauth-access-token-type-registration

 * Specification document(s): [[ this specification ]]

Also in Justin's book I've noticed use of *PoP*
https://livebook.manning.com/book/oauth-2-in-action/chapter-15/36

Not sure how those two registries suppos

[2019-11-06 14:13] dmitrizagidulin opened #29 "Proposal: Rename WebID-OIDC spec to Solid-OIDC"
As we're starting to move towards an initial public draft of a 1.0 solid spec, now is the time to consider the naming of our authentication protocol.
This is a proposal to change the name of the authentication protocol (and the corresponding spec) to:

**Solid-OIDC**.

This would:
- Lay the groundwork for using DIDs in addition to WebIDs, in the future (as well as any other appropriate identifiers

[2019-11-06 14:56] justinwb commented on #29
+1 to renaming to ensure that we don't limit the scope (or the perception of the scope) to a very specific identity system. Another consideration is whether naming it Solid-OIDC limits the perception of its use only to the Solid ecosystem.

I think that using Solid as the prefix helps more than it hurts, because it focuses the efforts on the use case patterns that we need to solve in Solid. This n

[2019-11-06 16:48] RubenVerborgh commented on #29
The original intention was to have orthogonal specs, such that the WebID-OIDC mechanism could be reused in contexts that are not Solid. Kind of how the Web specs are not Web-HTTP and Web-HTML but just HTTP and HTML.

Regarding:

I think we should just expand the scope of WebIDs to include non-HTTP URIs.

I hope it won't be; it should be standard OpenID Connect extended with the fact that you can h

[2019-11-06 16:51] dmitrizagidulin commented on #29
I think absolutely everyone involved in the spec, from the editors, to Inrupt developers (especially @acoburn and team), to panel participants, are all aiming for maximum off-the-shelf compatibility with OpenID Connect.
However, given that Solid has several unique use cases and constraints on its authentication protocol, it is not possible to use standard OIDC - it will be a Solid variant, unfortu

[2019-11-06 16:53] RubenVerborgh commented on #29
Solid or WebID?

I would suggest to explicitly list those cases and constraints (likely as part of the spec document); one that I know of is that users are identified by a IRI. What are the others? (That will also determine the answer to the first question.)

[2019-11-06 16:57] dmitrizagidulin commented on #29
Solid, specifically. We have constraint to support the Multiple Resource Server (multi-RS) use case (this is the "decentralized twitter" example), which requires authenticating to an arbitrary amount of resource servers who potentially have no prior relationship to an identity provider. (It requires the use an id credential (rather than an access token handed out by the IdP for a specific RS), com

[2019-11-06 16:57] dmitrizagidulin commented on #29
And yes, those use cases and constraints will definitely be part of the spec document.

[2019-11-06 16:58] RubenVerborgh commented on #29
Thanks, that's helpful. Still opposed to "Solid" in the protocol name; I believe we are addressing a problem (multi-RS) that is broader than Solid. I can't imagine the word "Solid" popping up in more than the title of the document.

I'd propose to have the list of cases / constraints before making the decision.

[2019-11-06 17:05] dmitrizagidulin commented on #29
Np. We can hold off on the renaming until then.

[2019-11-07 10:16] csarven commented on #29
The term "Web" in *WebID* covers all things.. on the Web =)

That for example includes aspects of DID that can be on the Web.

There is no need to rename. I would suggest to update the definition of WebID so that what is within the scope of WebID is more clear.

[2019-11-10 05:21] TallTed commented on #29
+1

WebID specs are all drafts (even though they say otherwise about themselves).

The (long stagnant) WebID CG can update them, and a WebID WG can be started to push them through RecTrack.

Join the WebID CG.  Add some voice to the argument that "WebID" need not be limited to HTTP/S-scheme URIs, just as the Web is not actually limited to HTTP/S URIs, and away we go.

[2019-11-11 11:07] kjetilk commented on #29
Could we condense the definition of WebID down to a bare essence?

I'm thinking about an WebID as a dereferencable URI identifying an agent that that agent can prove it controls... If we can get down to the essentials, it is easier to build orthogonal specs around it, and therefore to name things.

("agent that that agent", did you see that? Nice use of words, wasn't it? :-) ).

[2019-11-11 15:11] jaxoncreed commented on #27
In terms of authenticating clients, the OIDC flow will redirect with both an access_token and an id_token. The ID token should be used to authenticate the client.

[2019-11-11 15:16] jaxoncreed commented on #29
Perhaps "Multi-resource OIDC" is a good name because that's what we're trying to solve here.

[2019-11-11 16:00] dmitrizagidulin commented on #29
+1 to Multi-Resource OIDC (or Multi-RS OIDC)!

[2019-11-11 16:04] RubenVerborgh commented on #29
No objections from me to Multi-RS OIDC.

[2019-11-11 17:41] elf-pavlik commented on #29
As discussed in today's call the `id_token` only serves purpose of authenticating the user with the Client, doesn't really get used with any of the Resource Servers https://github.com/solid/authentication-panel/issues/27#issuecomment-552483808

When it comes to `access_token`(s) presented by Client to Resource Servers (other than OIDC Provider user info endpoint). The token will allow RS to know w

[2019-11-11 18:11] zenomt commented on #29
an access token issued to the client by the OIDC Provider, in normal OIDC/OAuth2, is opaque and doesn't necessarily have any structure (that is the case in almost all examples in specs, and is the case in my own implementation). requiring it to have some structure (say, a JWT with some well-known claims) does two things:

1. forces a current OIDC Provider to make potentially large and non-optimal

[2019-11-11 19:43] elf-pavlik commented on #27
https://openid.net/specs/openid-connect-core-1_0.html#IDToken

https://openid.net/specs/openid-connect-core-1_0.html#IDTokenValidation

When we use`id_token` to authenticate the User to the Client, it clearly meets requirements above.

Even if we use OIDC to login to some distinct Authorization Server, that AS will act as Client / RP and will not have another client / app involved in the flow. Try

[2019-11-11 19:44] elf-pavlik commented on #29
To avoid moving away from just the naming issue, I've responded to `id_token` usage in https://github.com/solid/authentication-panel/issues/27#issuecomment-552585966

[2019-11-12 04:13] dmitrizagidulin commented on #29
I don't think the rename issue depends on structure of access_token, thanks for moving the discussion to #27.

[2019-11-13 16:18] elf-pavlik commented on #27
Following up discussion on today's Authorization Panel call. I would like to propose that User never directly authenticates with any Resource Server. Since User will always use some client to access resources on various Resource Servers, the User authorizes the client (delegates subset of one's own access to it) in most cases restricting it to some 'kinds' (eg. shapes) of data. Most clients have s

[2019-11-13 20:21] zenomt commented on #27
i think it'll be common for users to log directly in to a site/RS (the "first party" login case), where the site itself is the client of the OpenID Provider. as far as the OP is concerned, this case is and ought to be indistinguishable from the user logging in to any other app.

[2019-11-13 21:10] elf-pavlik commented on #27
Do you mean cases where Client running fully in web browser stays hosted on a Resource Server so they share the same origin? Other than that I don't think we've ever consider Solid Resource Server itself to act as Solid Client. Solid Resource Server acts in few situations as HTTP Client but only accessing public resources so it doesn't require any authorization from any user.

[2019-11-13 21:26] zenomt commented on #27
i mean the user using her web browser to directly access resources on the RS. here the RS is an *OpenID Connect* client (not an HTTP client). this is what happens today if you navigate to a site running NSS and attempt to access a restricted resource (it'll prompt you to log in with your webid, set a cookie, and then present an HTML viewer for the resource when your browser asks with `Accept: text

[2019-11-13 21:59] elf-pavlik commented on #27
I think this only happens because NSS also acts as OP which establishes cookie based session. Many NSS deployments also host data browser (i think mashlib.js) acting as a solid client which fully runs in web browser and uses solid-auth-client module. User can log in to that mashilb.js app/client hosted on NSS RS but I don't think that RS acts as OIDC Client.
@jaxoncreed does the mashlib.js hosted

[2019-12-02 15:15] elf-pavlik opened #31 "Accessing NonRDF-Sources directly via browser"
In most cases users will access RDF-Sources using some specialized client application. In that case we will have user delegating access to that application (authorize it).
In some cases user may access NonRDF-Sources directly with a web browser. For example to download some binary archive, or view static html page which may include some images.
In that case I don't see where current WebID-OIDC wou

[2019-12-02 15:49] bblfish commented on #31
I don't see any difference as far as access control and authentication goes between RDF and other content @elf-pavlik . I implemented a [Hyper Address Book in ScalaJS](https://github.com/read-write-web/rww-scala-js) that could download RDF, people's pictures linked to from their foaf files, sign [HTTP-Signature](https://github.com/solid/authentication-panel/blob/master/HttpSignature.md) headers an

[2019-12-02 17:32] elf-pavlik commented on #31
@bblfish if Bob shares with Alice `https://bob.example/postcards/alice-b-day` which responds only with `text/html`. When Alice navigates to that URL with her browser, how would you see Launcher App playing any role here?

@dmitrizagidulin in gitter chat suggested that in that case solid storage would just act as oauth client / oidc relying party and user would use it as any other client. As I unde

[2019-12-02 17:52] bblfish commented on #31
In the case that a user GET's a resource outside the scope of a one page app, and the resource returns a 401 which could be accessed by the user with one of her identities were she to use a Launcher App, then...
  then it may be useful to consider if this can be solved by a browser plugin.

[2019-12-03 03:08] dmitrizagidulin commented on #4
@elf-pavlik Ahhh yeah, ok, you're right, the DPoP draft spec does specify using 'DPoP' as the Authentication scheme.

So then we'll use as a response header:

[code]

to indicate that the RS supports the DPoP presentation mechanism.

[2019-12-09 14:52] elf-pavlik commented on #31
Thinking about conversation in #29 where concept of Multi-RS comes up.

In scenario discussed here we don't have any Multi-RS situation. We just have plain OIDC where Solid Storage acts as Relying Party and not OAuth Resource Server. We only seem to add additional WebID requirement on `id_token`, but once again here we don't have Multi-RS case.

[2019-12-09 15:35] dmitrizagidulin commented on #7
To summarize:

1) Switch Proof of Possession mechanism from current nested PoP token to use the [DPoP draft spec](https://tools.ietf.org/html/draft-fett-oauth-dpop-02) (use of two headers, an `Authorization` header and a `DPoP` header).

2) Instead of re-using the ID Token for the Multi-RS use case, the RP can request an _Identity Credential_ in the ID Token (using the usual `claims` or `scopes` m

[2019-12-09 16:12] bblfish commented on #31
From [today's Authentication Panel - 9 Dec 2019](https://hackmd.io/k3siA2iaSrKOmvpYzRYmqA). It looks like we have the following requirements on the server:

1. If the Server cannot tell if the Client has the capability to follow the rel=acl link or deal with the WWW-Authenticate headers, to determine how to authenticate then it should return a html body in the 401 with content that allows the user

[2019-12-11 14:19] elf-pavlik commented on #31
I think we can rely on standard content negotiation here, if request is made for `text/html` it makes sense to respond with HTML body. If request is made for something like `text/turtle` server may just include some error message represented in turtle.

[2019-12-11 16:39] bblfish opened #32 "How can 401 responses get tied to a Launcher App"
[Issue 31: Accessing NonRDF-Sources directly via the browser](https://github.com/solid/authentication-panel/issues/31) brings up the question as to how a 401 returned by resources that don't have the capability to read wACLs can then allow the user to get access to the resource.

For passwords the server can return a `WWW-Authenticate` header, which will get the browser to open a request for passw

[2019-12-17 15:40] elf-pavlik commented on #7
Currently `id_token` gets signed by the issuer and `pop token` that wraps it gets signed by the client. I understand that with new approach we get:
* OIDC mandated signing of `id_token` by OP, which only goes and gets verified by the client (never goes to RS)
* VC mandated signing of `verifiable credential` (or `verifiable presentation`) by OP, it gets passed to the RS which verifies it (relying o

[2019-12-17 16:00] elf-pavlik commented on #1
Since DPoP requires signature for each request, including http method and request uri, it seems to address this concern.

[2019-12-17 16:34] elf-pavlik commented on #3
DPoP uses `jti`

I think it serves the same purpose as in cases where client creates nonce to prevent someone replying it requests. I still don't understand which threats nonce created by RS should address.

In UMA 2.0 we can find

Which seems related to asynchronous claims gathering and need for some notion of transaction. I don't see exactly where we would have similar requirement in solid.

[2019-12-17 18:04] zenomt commented on #3
an RS-chosen nonce forces the client to perform a cryptographic signature over a value that the RS has control over. there are multiple reasons this is important:

1. the RS becomes an active, rather than passive, participant in the handshake
2. the RS can be assured the nonce has a desired strength (can't be guessed, can't be forged)
3. the RS can use the nonce for other purposes, such as correla

[2019-12-17 18:11] zenomt commented on #1
not exactly. the DPoP request/signature could have been generated at any time in the past. signing an unguessable/unforgeable server-chosen value proves an unforgeable "comes-after" temporal relationship.

[2019-12-17 19:48] dmitrizagidulin commented on #1
@zenomt - so, I'm still slightly unclear on what threat model the nonce in the response is supposed to address.

[2019-12-17 20:09] zenomt commented on #1
@dmitrizagidulin it addresses two main concerns:

1. current/now ("comes-after" the challenge) possession and control of the key
2. the opportunity for the server to contribute to/salt the cryptographic computation

[2019-12-17 21:49] elf-pavlik commented on #3
@zenomt could you share an example of a threat which RS provided nonce mitigates?

[2019-12-17 23:17] zenomt commented on #3
the canonical threat is if a (large, possibly nation-state) adversary discovers a weakness in a cryptographic hash (for example, one used in a signature algorithm) that decreases the time to find a collision from essentially ∞ to, say, days-to-weeks-to-months.

if the time to find a collision is on the order of days or weeks or months, such an adversary could spend that time to forge a credential

[2019-12-19 22:40] elf-pavlik commented on #3
Thank you for clarifying @zenomt !

Looking at sequence diagram in https://github.com/zenomt/webid-auth-protocol#webid-oidc-proof-of-possession-operation

It looks that RS includes nonce in response which later client uses in request to `webid_pop_endpoint`. This looks similar to UMA2.0 where RS gets the ticket from AS before responding to client.

https://docs.kantarainitiative.org/uma/wg/rec-oau

[2019-12-20 00:53] zenomt commented on #3
correct. as i mentioned above (https://github.com/solid/authentication-panel/issues/3#issuecomment-525073464 ) if this RS-provided challenge was going to be used in today's POPToken, it would more appropriately be called "challenge" because the expectation is it could be used more than once (until it expired or was revoked). calling it "nonce" is appropriate to my proposal because it's only used o

[2019-12-20 01:21] zenomt commented on #3
a challenge can work fine in this case. however, for the multiple reasons i enumerated in #1 and #12, i think "client directly presents credentials to RS" is not ideal.

[2019-12-24 21:52] bbustin opened #36 "SQRL authentication"
It may be nice to try integrating SQRL authentication. https://www.grc.com/sqrl

It is essentially a decentralized authentication scheme and *may* fit in nicely with the principles of SOLID.

[2019-12-30 18:06] elf-pavlik commented on #36
I think this could work as one of the options some OIDC Providers could offer to their users. Each OP has full freedom with respect to what local authentication the use.
For common cases where user uses app which access resources on multiple instances of solid storage we need to handle both authentication and authorization, so we don't have just 'login' problem to solve.

[2020-01-21 16:26] bblfish commented on #32
So the current way to do this would be for the resource returning a 401 to return a page with
1.  a set of relevant `WWW-Authenticate` headers
2. an html page with a form where the user can enter say a URL (perhaps an OpenID)

So for 1. a Browser Plugin could be very useful for extended `WWW-Authenticate` headers - and perhaps even to improve the UI of the standard existing ones - making the life

[2020-02-09 09:36] kjetilk opened #41 "Protection against brute force attacks"
I just did a superficial analysis of an unsuccesful brute force attack against my personal Wordpress install. The interesting thing about it isn't really how it was done, but the fact that they hammered a single-user, tiny blog with less than 10 posts for several hours with 5 requests a second. I didn't think any reasonably intelligent attacker would bother, it was probably a bigger hog on their r

[2020-03-29 18:47] jaxoncreed opened #45 "Proposed Authentication Upgrade Approach"
# **Proposed Authentication Upgrade Approach**

## **Scope**

At the moment, the Solid ecosystem depends on an authentication token structure that was designed before the relevant draft specification was released by the IETF.  In November, work began to replace this token.

The following outlines a proposed approach to move the ecosystem towards a more secure token while easing the migration for t

[2020-03-29 20:43] zenomt commented on #45
**nothing** has been "released by IETF". `draft-fett-oauth-dpop` is just an Internet-Draft, submitted by the authors to the I-D repository. it is not a work item of any IETF working group. anyone (for example, the draft's authors) can submit an Internet-Draft that says anything they want. the existence of an I-D (especially one that is not a work item of a working group) carries zero weight. it mo

[2020-03-30 12:38] dmitrizagidulin commented on #45
@jaxoncreed +1, sounds good.

[2020-03-30 12:53] acoburn commented on #45
@jaxoncreed +1 from me, too

[2020-03-30 14:53] elf-pavlik commented on #45
We discussed during today's call and IMO we shouldn't try to upgrade until we clarify how we handle user restricting clients. In various conversations we talked in terms of capability credentials presented by the client. Even @zenomt draft has comparable notion relying on tags (I try to compare them in https://github.com/solid/authorization-and-access-control-panel/issues/63).
In open ecosystem sc

[2020-03-31 17:46] jaxoncreed opened #46 "Initiating User Registration via OpenID Connect"
We might want to consider integrating this draft recommendation in the solid auth spec: https://openid.net/specs/openid-connect-prompt-create-1_0.html as it would be especially useful for Solid.

Traditional OIDC presupposes that a user is already registered with an IDP before the login process begins. However, with solid, a user might want to use a solid-compatible application without ever having

[2020-04-05 05:35] zenomt opened #47 "Technical Objections and Concerns with Proposed DPoP + VC Scheme"
Technical Objections and Concerns with Proposed DPoP + VC Scheme
================================================================

While a new authentication scheme using DPoP and Verifiable Credentials may technically still be a proposal, it has the outward appearance of a foregone conclusion. I have serious reservations and technical objections regarding the use of DPoP in a Solid authentication

[2020-04-05 16:23] elf-pavlik commented on #47
Does it only apply to Implicit Flow?

[2020-04-05 16:28] zenomt commented on #47
no matter how the tokens are transmitted to the client, having the VC token outside the `id_token` is more compact, since an extra base64 expansion is avoided.

[2020-04-13 22:25] zenomt commented on #47
update: as of april 1 2020, DPoP was adopted as a Working Group document in the IETF OAuth Working Group: https://mailarchive.ietf.org/arch/msg/oauth/opBHFtVkYSo1gJwyXWfpYZMDKjg/ . the draft is now `draft-ietf-oauth-dpop`.

i note in the OAuth WG mailing list there is concern and discussion along very similar lines to some concerns i raised in this issue, including "signing and checking every requ

[2020-05-05 01:58] acoburn commented on #46
Just want to note here that this could be an interesting _optional_ feature. Requiring support, however, would be hugely problematic for anyone implementing an identity broker, which is important for integrating Solid with OAuth2, SAML or traditional OIDC environments -- or, in fact, with any IdP that doesn't currently support Solid

[2020-05-15 20:48] jeff-zucker commented on #45
I just spoke with @jaxoncreed and we agreed that solid-auth-cli's login and session management should all be done by solid-auth-fetcher as soon as it is able to handle console-based logins (a few months from now?) but that in the meantime it is the only login outside the browser and should not be deprecated until a solid-auth-fetcher login is available.

In addition to its login/session functions,

[2020-05-18 22:30] jaxoncreed commented on #47
Below are some remarks from @acoburn on this issue. I've edited it a bit to keep up with the conversation:

Given the adoption on April 1st, I'd say we can focus on the other issues. Thanks for updating us on that.

In the grand scheme of things, the extra header size is quite small when compared to the mass amounts of data that come across the wire in Solid as RDF ecosystems are very network inte

[2020-05-19 00:22] jeff-zucker commented on #45
I am totally on board with deprecating solid-auth-cli - I knew it would happen eventually and having a single auth package is a big win. However, I think the transition needs to be thought out more carefully with a more complete knowledge of the situation specific to solid-auth-cli.

Solid-auth-cli is used by (that I know of)

  * rdflib
  * solid-gitter
  * data-kitchen
  * gnome-argos
  * solid-

[2020-05-19 01:42] zenomt commented on #47
HTTP/2 header compression ([HPACK](https://www.rfc-editor.org/rfc/rfc7541.html)) can only "compress" a header that's identical to one from a previous request. a JWT DPoP token with an elliptic curve signature will be on the order of 500 bytes at minimum , which is 1/3 of the "MTU of the Internet" (1500 bytes, also over 1/3 of the TCP MSS). when talking about making multiple simple requests from th

[2020-05-20 02:38] zenomt commented on #47
my "concrete proposal" is a webid/webid-oidc/webid-tls specific application of [draft-thornburgh-fwk-dc-token-iss-00](https://www.ietf.org/id/draft-thornburgh-fwk-dc-token-iss-00.html) ([datatracker](https://datatracker.ietf.org/doc/draft-thornburgh-fwk-dc-token-iss/))

[2020-06-28 18:02] jaxoncreed opened #48 "Proposal: Standardize the WebId's content as only auth-specific"
This has been talked about before, but I don't think an official issue has ever been made for this:

## Problem

Currently, the WebId is considered the user's profile. It includes their name, their image, and other things about their person. In addition, it includes their authentication information like their OIDC Issuer and their certs.

This presents a problem: authentication information must al

[2020-06-29 14:31] dmitrizagidulin commented on #48
What's interesting about this issue is -- it essentially replicates the discussion of what a [DID Document is](https://w3c.github.io/did-core/). Specifically, a minimized WebID profile (with just public key material and some links, such as to the oidcIssuer) is just a DID Document.

[2020-07-06 13:15] elf-pavlik opened #49 "DPoP Validation"
Current draft states:

I fail to understand what exact steps it requires. Does *resource URL of the DPoP token* refer to *htu* claim in *DPoP Proof*? What does *original request in the Access Token* mean?

Possibly strictly using terminology
* *DPoP Proof*
* *DPoP-bound Access Token*

And specific JWT claims could help to eliminate any confusion arising.

[2020-07-06 13:27] elf-pavlik opened #50 "Validating the Access Token"
Current draft states:

I think we should keep it very clear that we have two different signatures which need to be validated:
* DPoP Proof **signed by the client**
* JWT Signature on DPoP-bound access token **signed by the IdP**

Given above I don't see exactly how mentioned in current draft *public key from the IdP to match the Access Tokens cnf claim* supposed to work. cnf claim uses *client* pu

[2020-07-06 16:45] elf-pavlik commented on #48
It seems that current draft will only require presence of statement with `solid:oidcIssuer` (except when 'on the same domain' as IdP). It also doesn't include issuer discovery via HTTP Header as we all seemed to agree on.

Do you still see need for specyfing rdf class like `example:OIDCAuthenticatableAgent` or we can close this issue?

[2020-07-06 17:14] elf-pavlik commented on #41
I would suggest that solid team doesn't try to innovate here and whatever best practices exist for OIDC Providers they just apply to solid IdP.

[2020-07-06 17:21] elf-pavlik commented on #31
I don't know where we should include include requirement that solid storage should implement OIDC client with ID Token specified on Solid OIDC draft. In scenario discussed here neither DPoP or Access Token is being used, just the ID Token.

[2020-07-06 17:37] elf-pavlik commented on #36
Since we focus on OIDC based approach, SQRL might be something worth discussing on https://forum.solidproject.org/
As I mentioned in previous comment, to authenticate with OpenID Provider implementations have full freedom to implement anything they wish to support.

[2020-07-06 17:37] #36 closed

[2020-07-06 17:38] elf-pavlik commented on #30
@jaxoncreed would you still like to pursuit this approach?

[2020-07-06 17:43] elf-pavlik commented on #29
Latest draft mandates 'aud' claim in JWT access token to have constant value of *solid*. To have it not coupled with solid we may need to adjust it to some more general value eg. *web*, or *multi-rs*. It doesn't matter as long as solid storage implementations acting as RS expect this value.

[2020-07-06 17:48] elf-pavlik commented on #21
I think [latest draft](https://github.com/solid/authentication-panel/blob/master/oidc-authentication.md) submitted by @EndlessTrax follows most aspects of the suggested approach. Structured Scopes / Rich Authorization Requests still need to be evaluated as part of addressing where authorization comes in.
I will close this issue for now and we can always reopen it if needed.

[2020-07-06 17:48] #21 closed

[2020-07-06 17:56] elf-pavlik commented on #12
Latest draft relies on DPoP-bound Access Token issued by user's IdP. While client doesn't create access tokens any more, just DPoP Proofs, it still doesn't follow approach suggested in this issue. Maybe we could rename this issue to clearly propose that *RS associated Authorization Server should issue Access Tokens*.

[2020-07-06 18:00] elf-pavlik commented on #8
I wonder if this conversation wouldn't fit better on https://forum.solidproject.org/
Otherwise we should add some clear *acceptance criteria* for resolving this issue.

[2020-07-06 18:03] elf-pavlik commented on #7
I believe latest draft addresses both stated concerns.

[2020-07-06 18:03] #7 closed

[2020-07-06 18:05] elf-pavlik commented on #6
I think everyone had chance to take a look at it. Let's close this issue and if needed we can follow up with some specific proposals inspired by oauth.xyz.

[2020-07-06 18:05] #6 closed

[2020-07-06 18:29] elf-pavlik commented on #12
BTW maybe [OAuth 2.0 Token Exchange](https://tools.ietf.org/html/rfc8693) would still allow RS to delegate some responsibilities to AS server of its choice. I guess RS would still need to do the DPoP verification but could leave all the rest to AS it exchanges tokens with.

[2020-07-06 21:20] elf-pavlik commented on #5
I think this would better fit https://github.com/solid/user-lifecycle-panel since it deals with case where user starts using application but doesn't have IdP (very likely neither WebID or storage). I don't think this affects authentication directly. @kjetilk I think you created User Lifecycle Panel, would you see Use case described in this issue to fit there?

[2020-07-06 21:27] elf-pavlik opened #52 "Verifying client's control of claimed WebID (client_webid)"
Current draft states:

How does client present its WebID, should it use some specific query parameter?

It also states:

I don't see in a draft how IdP verifies that clients actually controls that WebID (and not tries to impersonate it). We discussed as one of possibilities that WebID Document returned when client's WebID gets resolved, would include some kind of `solid:redirect_uri` statement to

[2020-07-06 21:38] elf-pavlik commented on #46
I think this shares some issues with #5 and also tries to deal with User Lifecycle. I see IdP as much higher priority role (especially if it hosts WebID) than any single client application. For that reason I would really hesitate to encourage applications to suggest specific IdP to the user. How about we try to explore those on boarding scenario in https://github.com/solid/user-lifecycle-panel and

[2020-07-10 01:00] EndlessTrax commented on #49
You are correct, this should say DPoP proof. I will rewrite this to make it clearer, and include a little more detail around the `htu` claim to remove any confusion. Thanks.

[2020-07-13 00:52] jaxoncreed commented on #52
In addition, I think there should be extra clarification around the difference between a client webid and a user's webid (or agent's web id) It might be a good idea to put that in the terminology section.

[2020-07-13 00:57] jaxoncreed opened #53 "Clarification needed on Ephemeral Identity Providers"
In the proposed spec, it says:

    In a decentralized ecosystem, such as Solid, the IdP may be:

    The user
    Any client application, or,
    Preexisting IdPs and vendors

The "Preexisting IdPs and vendors" use case is the one we talk about the most, but the other two are confusing and need clarification.

When "The user" is mentioned, is this the self-signed auth flow? If so, the self-signed

[2020-07-13 00:58] jaxoncreed commented on #52
Specifically, this clarification would be useful in the document where "The client presents its WebID to the IdP and requests an Authorization Code." is said.

[2020-07-13 01:05] jaxoncreed opened #54 "The Mechanism for the IdP to confirm app WebId ownership should be detailed"
Currently the spec states:

    The client presents its WebID to the IdP and requests an Authorization Code.

But there is no requirement in the spec for IdPs to implement a mechanism that confirms the application's possession of that WebId. This is important because if an app can claim to be any WebId, it will mess up the access control system down the line.

[2020-07-13 01:07] jaxoncreed opened #55 "Add Detail to the "Basic Flow""
I know that it's only supposed to be a non-normative basic flow, but I don't think it's detailed enough to understand everything that's going on. I created a non-normative flow for an older version of the spec here https://github.com/solid/authorization-panel/blob/master/proposals/TrustedAppsReplacement.md#general-networking-flow. It would be fantastic to have that level of detail!

[2020-07-13 01:16] jaxoncreed opened #56 "Client Registration does not state which entity it's optional for"
Under proof of Identity:

    Client registration (static or dynamic) is not required in Solid-OIDC, thus Access Tokens need to be bound to the client, to prevent token replay attacks. This is achieved by using a Distributed Proof-of-Possession (DPoP) mechanism at the application layer.

In practice, we need to know if registration is optional for the client or the IdP. If it is optional for the c

[2020-07-13 01:20] jaxoncreed opened #57 "Normative language is inconsistent in the terms mentioned"
In DPoP Validation, checking the `iat` field is mentioned, but checking the `htu` and `htm` fields are not. I know that both are referenced in the DPoP spec, but it seems weird the `iat`, which is also mentioned is brought over into this spec, when the two arguably more important fields in DPoP are left unmentioned.

[2020-07-13 01:28] jaxoncreed opened #58 "Caching IdP public keys"
I might be wrong about this, but wouldn't recommending the caching of public keys as stated here:

    It is RECOMMENDED that the RS keep a list of trusted IdPs, to facilitate the expedient lookup of JWKS through local trust stores or cached public keys.

Be an anti-pattern as it would be recommended that IdPs rotate their keys frequently?

[2020-07-13 01:32] jaxoncreed commented on #56
Additionally later in the document, this recommendation is given:

    Implementors SHOULD expire client IDs that are kept in server storage mitigate the potential for a bad actor to fill server storage with unexpired or otherwise useless client IDs.

Knowing that client Ids only apply to flows that involve registration, it seems oddly positioned. As read it feels like this is something global to

[2020-07-13 01:36] jaxoncreed commented on #57
Another section is the JSON Web Key store section which adds no new information on top of the original OIDC spec.

I think in general, this spec should either choose to repeat ALL relevant information from other specs, or simply refer to other specs and focus solely on the things that differentiate this system.

[2020-07-13 12:45] elf-pavlik commented on #53
I understand that by *self-signed* you refer to *self-issued* also discussed in #11

[2020-07-13 12:46] elf-pavlik commented on #54
I think this one duplicates #52

[2020-07-13 13:08] elf-pavlik commented on #58
I think RS could track *exp* claim on access tokens signed with given key and extend caching that based on that *exp* date. IdP should not remove key as long as valid tokens exist signed by that key so caching it based on *exp* claim in those tokens seems reasonable.

[2020-07-13 14:07] jaxoncreed commented on #54
You are correct.

[2020-07-13 14:07] #54 closed

[2020-07-13 15:04] justinwb opened #59 "Proposed Initiative - Client Authentication"
As discussed in the panel meeting on 7/13, an initiative for this panel is proposed to design and document the mechanism through which clients are authenticated as part of the Solid-OIDC protocol specification.

This initiative should be sure to work in conjunction with the [authorization panel](https://github.com/solid/authotization-panel) and [interoperability panel](https://github.com/solid/dat

[2020-07-13 15:10] elf-pavlik commented on #59
Some relevant notes exist in #25

[2020-07-13 17:21] acoburn commented on #58
Caching should not be a problem. In fact, it should be encouraged.

That said, there are better and worse ways to handle cache invalidation. When an IdP key is rotated, it is important that the new key has a new (unique) identifier `kid`. This way, if the incoming JWT has a `kid` value that is not present in the cached JWKS, the resource service can attempt to refresh the cached JWKS data; otherwi

[2020-07-13 18:04] acoburn commented on #57
+1 on not reiterating what other spec documents already state.

[2020-07-13 18:45] EndlessTrax commented on #57
I'm in agreement. I'll  remove the mention of `iat` and change the language to something alone the lines of "validate the DPoP as per sec".

I think this is a good argument for removing the JSON Web Key Store section, too. @amigus do you have any different opinion on this?

[2020-07-20 12:34] elf-pavlik opened #60 "Consider IdP to issue Identity Verifiable Credential rather than global access token"
This issue relates to ensuring extensibility with *AuthZ*. Having IdP to issue signed JWT as DPoP-bound access tokens, which client uses with any number of resource servers, can limit possibility for parties other than IdP to stay responsible for authorization.

[Previous Draft](https://github.com/interop-alliance/multi-rs-did-auth) by @dmitrizagidulin had IdP issue Identity Verifiable Credential

[2020-07-21 18:18] EndlessTrax commented on #53
I'm happy to be wrong here, but this is my understanding.

If Solid is going to be a decentralized ecosystem at one end of the scale, I, a user, could spin up a pod and client application which would also be an IdP and a RS, giving me full control of my data and privacy. The other end of the scale is what we have currently, limited choice with SSO. And there is everything in between.

Therefore, i

[2020-07-21 18:22] EndlessTrax commented on #55
What specifically do you feel is missing from the flow that isn't already delegated to an existing spec/recommendation?

[2020-07-21 21:52] amigus commented on #57
No, I concur.

[2020-07-21 22:24] EndlessTrax commented on #53
On second thought: added to the agenda to discuss at the next panel meeting - https://hackmd.io/YPvrnGl5QW6kIQ0CVtBpyQ

[2020-07-22 15:30] EndlessTrax commented on #49
The changes we are making as per Issue #57 supersede this. This sentence has now been removed entirely.

[2020-07-27 14:48] jaxoncreed commented on #56
Another interesting thing about making dynamic registration optional:

If you go to this link:

https://owntech.de/login?response_type=&display=&scope=&client_id=&redirect_uri=https://google.com

You'll get redirected to https://google.com. The reason for this is because this link is saying "log in as google.com"

[2020-07-27 15:20] bblfish opened #61 "Research Existing Formalisations of OAuth Protocols"
It would help to have a place to collect formalization of the (relevant parts of) the OAuth Protocols.

We can do this in this issue/question or create a wiki page to collect them. These could help build a formalization for OAuth as applied to Solid, which may help resolve some thorny issues, clarify what needs doing, etc... We'll only know when we know what has already been done.

[2020-07-27 15:26] bblfish commented on #61
@elf-pavlik on gitter pointed to this October 2016 paper [A Comprehensive Formal Security Analysis of OAuth 2.0](https://dl.acm.org/doi/abs/10.1145/2976749.2978385) which was presented at CCS 2016.  The [video of the presentation is available](https://www.youtube.com/watch?v=x8F9ms-uMbU) on YouTube, for a nice relaxed viewing. It looks like they put together a formalization of the web!

[2020-07-27 16:30] elf-pavlik commented on #56
@jaxoncreed could you please clarify what exactly dynamic registration changes here? Would it just require link above to have matching pair of client_id and redirect_uri or something else? For most public clients person creating that link could still have the client perform the dynamic registration and get client_id which would match redirect_uri.

[2020-07-27 17:41] jaxoncreed commented on #56
Dynamic registration would require an AJAX request to register the application, then you'd put the clientId in the auth request. That way, it wouldn't be possible to trigger the login flow in just one link.

[2020-08-03 13:16] elf-pavlik commented on #49
Thank you. I see that current version includes following sentence:

A DPoP-bound Access Token does not include `htm` and `htu` claims, which are defined for DPoP Proof. I would suggest  removing that sentence all together or updating it to following version:

[2020-08-03 13:49] EndlessTrax commented on #49
Sorry, that should read DPoP Proof, not DPoP Token. I said I would fix that in the update but looks like I overlooked it. Apologies.

[2020-08-03 13:57] EndlessTrax commented on #49
It also occurs to me we don't have `DPoP Proof` in the terminology section. This should be added.

[2020-08-03 14:25] elf-pavlik commented on #49
👍  to remove the sentence

otherwise we should clarify that it doesn't add anything beyond what DPoP already mandates.

[2020-08-03 15:24] EndlessTrax opened #62 "Acknowledgments Section"
Looking at various specs and the many different ways in which to write this section, this one appeals to me the most - [https://www.w3.org/TR/2019/REC-vc-data-model-20191119/#acknowledgements](https://www.w3.org/TR/2019/REC-vc-data-model-20191119/#acknowledgements). I like the straightforwardness of it. Though I'm completely open to suggestions on how we format this section.

Can we start compilin

[2020-08-03 15:39] csarven commented on #48
Closely related issue here is the required RDF serialization ( https://github.com/solid/specification/issues/45 ) that the consumer of the WebID Profile document should be capable of parsing. Unless specified otherwise (eg. one particular format), Turtle and JSON-LD are currently what's required in the Solid ecosystem for both clients and servers. What's the current assumption/agreement?

[2020-08-03 16:11] acoburn commented on #48
@csarven I don't believe this has been explicitly discussed, but it would be good to clarify. I would be 👍  for requiring Turtle and JSON-LD as a minimum

[2020-08-03 16:51] elf-pavlik commented on #49
@acoburn suggested to specify that if `cfn` claim is present RS should perform DPoP  Validation. I think this may also affect *Resource Access* section currently only stating:

It may help to mandate that: If IdP included `cnf` claim in Access Token, client MUST use DPoP for request where this token is used.

[2020-08-03 17:09] elf-pavlik commented on #50
Following up on what we discussed during this meeting. This section should not mention DPoP any more, all DPoP related things should go into DPoP Validation #49

We still need to address how RS validates that claimed issuer signed the Access Token (JWT). In [OpenID Connect Core 1.0 - 10. Signatures and Encryption](https://openid.net/specs/openid-connect-core-1_0-final.html#SigEnc) we find:

It's d

[2020-08-04 07:33] csarven commented on #53
To add to above, there is no technical - as opposed to social - guarantee that an identity provider will persistent for an unspecified length of time. I think that's essentially equivalent to a self-signer/issuer using an ephemeral identity provider.

[2020-08-06 18:06] EndlessTrax commented on #53
Updated the language as last discussed at the Auth Panel meeting. Latest commit on this -- https://github.com/solid/authentication-panel/commit/05ba10aba4c60eaa3812b6e46fb839426a8ef60b

[2020-08-06 18:07] EndlessTrax commented on #49
Latest commit on this section -- https://github.com/solid/authentication-panel/commit/493440ed41a3e423c06b3d9e8fb624ec2933aa8a

[2020-08-06 19:13] EndlessTrax commented on #50
Latest commit following the most recent panel discussion - https://github.com/solid/authentication-panel/commit/87e673eee4761f65afa977fa80cdfb83268114fb

[2020-08-06 19:17] EndlessTrax commented on #48
I seem to recall some discussion about this in a panel meeting. Maybe you missed that one @acoburn? From what I recall we agreed that that was felt that it should be added to the WebID spec itself and delegated to in the Auth spec.

[2020-08-07 14:11] acoburn opened #67 "Formalize JWT access token structure in WebID-OIDC protocol"
Under OIDC, ID tokens must be structured as a JSON Web Token (JWT), which gives structure to those tokens. With OIDC, access tokens are often structured as JWTs, but that is not a hard requirement. If the WebID-OIDC protocol moves toward using access tokens in the interaction between a relying party and a resource server, it may make sense to formalize the structure of these tokens as JWTs with ce

[2020-08-07 14:13] acoburn opened #70 "Generalize WebID-OIDC protocol beyond WebID"
WebID provides a structured way to identify and refer to agents, but there are now other structured forms of identification, such as [Decentralized Identifiers (DIDs)](https://w3c-ccg.github.io/did-spec/) and [Verifiable Credentials](https://www.w3.org/TR/vc-data-model/). The name and protocol of WebID-OIDC is very WebID-centric, and perhaps the protocol should be made flexible enough to accommoda

[2020-08-08 17:31] elf-pavlik commented on #50
Once again, I would not bring up DPoP any more in this section to avoid confusion. It should only explain how RS can verify that claimed **issuer** has actually issued presented access token. Above has nothing to do with DPoP or 'cfn' claim in access token. It only deals with discovery of issuer's (OP's) signing keys and verify JWS on the access token itself. I've provided all relevant references

[2020-08-08 22:36] elf-pavlik commented on #63
I think wording based around "Statement matching triple `?sub <http://www.w3.org/ns/solid/terms#oidcIssuer> ?iss` covers *issued by any of user designated issuers*. For DDOS we may need to create separate issue.

[2020-08-09 14:08] EndlessTrax commented on #50
We need to mention that those fingerprints need to match, though. That reader needs to know that there is a mechanism in place to check that correct DPoP proof is sent with the correct bound Access Token to the RS. If we need to move this language, I'm fine with that, but I don't think it belongs in DPoP.

As for verifying the JWS of the Access Token, that is already covered in OIDC, so should be

[2020-08-09 16:47] csarven commented on #48
Do you mean particular requirements were raised in a meeting and that it should be incorporated in the WebID spec, or do you mean that whatever the WebID spec requires will be used by the OIDC Authentication spec here? Something else?

Note also bit on WebID that I've just mentioned in https://github.com/solid/specification/issues/45#issuecomment-671074184 . What to do here may be more clear once

[2020-08-09 22:49] csarven commented on #62
+1 to using alphabetical order.

FWIW, Linked Data Notifications' Acknowledgements section: https://www.w3.org/TR/ldn/#acknowledgements links to each contributor's homepage to assist follow-up. The spec also includes `schema:contributor`s relations to each contributor's WebID (in RDFa). Hyperlinking to each contributor's WebID can be cool given Solid-OIDC's adoption as well as to make the attribut

[2020-08-09 23:06] csarven commented on #62
Forgot to mention: In addition to acknowledging individuals that contributed by through GitHub (creating issues, comments, commits..), meetings and chats, it'd be appropriate to acknowledge implementers who gives feedback in addition to their implementation reports. That is an external approval that advances the spec that I think should be recognised.

[2020-08-10 13:39] elf-pavlik commented on #50
https://tools.ietf.org/html/draft-fett-oauth-dpop-04#section-7

   in the DPoP proof JWT equals the value in the "jkt" claim in the
   access token or introspection response.

For me this clearly belongs to DPoP Validation #49 section.

-----------------

To my understanding in OIDC the ID Token is signed JWT and the client uses needs to discover OP's public keys to validate the ID Token. I think

[2020-08-10 13:56] elf-pavlik opened #72 "Clarify use of Bearer token"
https://github.com/solid/authentication-panel/blob/master/oidc-authentication.md#resource-access

I don't see how RS would know if client registered with OP or not. If don't make DynReg optional for the client #56 than all clients will be actually registered. Even if client is registered with OP I don't think this on its own enables it to use Bearer tokens.

[2020-08-14 10:31] csarven opened #73 "Initiating account deletion"
Raised this issue based on deleting accounts and interactions thereafter with WebID URL: https://github.com/solid/specification/issues/72

See also Initiating User Registration via OpenID Connect: https://github.com/solid/authentication-panel/issues/46

How is account deletion initiated? Is this within the scope of this panel or more appropriate through a panel like user lifecycle: https://github.

[2020-08-31 13:10] elf-pavlik opened #74 "OAuth 2.0 Device Authorization Grant"
https://tools.ietf.org/html/rfc8628#section-3.4

   connected devices that either lack a browser to perform a user-agent-
   based authorization or are input constrained to the extent that
   requiring the user to input text in order to authenticate during the
   authorization flow is impractical.  It enables OAuth clients on such
   devices (like smart TVs, media consoles, digital picture frames,

[2020-08-31 13:24] elf-pavlik opened #75 "Define Solid-OIDC requirements for what client description WebID Document should include"
https://github.com/solid/data-interoperability-panel/pull/59 proposes some client description for expressing needed access, which to my understanding also would be used as display information.

During [call on 2020-08-24](https://hackmd.io/mYu1aCWSRyO_R9uA-7v34w) @acoburn proposed to have statement, which object would be a literal with serialized JSON of OAuth client registration. To my understand

[2020-08-31 13:39] acoburn opened #76 "webid claim in access token"
The existing WebID-OIDC protocol includes a provision for a `webid` claim in an access token such that, if that claim exists, a resource server should use that value as the agent's WebID.

The background on this is that some Identity Providers may be unable or unwilling to use full URLs for `sub` claims but would like to participate in the solid ecosystem. This would allow those IdPs to continue t

[2020-08-31 14:47] elf-pavlik commented on #76
Current Solid-OIDC draft, besides WebID used as `sub`, also adds DPoP to sender constrain tokens as well as specific JWT format for access token etc. Do you see case where OP would implement those Solid-OIDC aspect but wouldn't be able to use WebID as `sub`?

In case we find this a real world requirement. I would propose to only rely and custom `webid` claim and don't even make anything dependent

[2020-08-31 19:42] amigus commented on #76
I don't see how the use of the sub claim buys anything and I think it only complicates things. I think we should require a webid claim which make it clear that the AT is a Solid AT. The sub claim could be set to the webid or something else, the spec doesn't need to address that at all if the webid is the one and only place where a webid is claimed.

[2020-08-31 20:00] acoburn commented on #75
Here are some arguments for why this should be a JSON literal

1. The OIDC protocol for registration defines the data in terms of JSON. What is the compelling reason to create a new format for that data when the existing format already works?

2. In order to express the data as RDF, a brand new vocabulary and specification would need to be written.

3. Expressing the registration data as a JSON li

[2020-09-07 13:35] elf-pavlik commented on #76
AT already has claim `aud` with constant value `solid`

:+1: if we decide to go with custom `webid` claim than we should not rely on `sub` any more.

[2020-09-07 14:27] elf-pavlik commented on #76
During the call with @EndlessTrax and @amigus we decided to go with `webid` claim.

According to [JSON Web Token (JWT): 4.2.  Public Claim Names](https://tools.ietf.org/html/rfc7519#section-4.2) I understand that we should either register `webid` claim with IANA or use collision resistant clam name, eg. IRI in `solidproject.org` namespace.

[2020-09-13 02:14] elf-pavlik commented on #56
@jaxoncreed what do you think about adding clarification that the client needs to discover if the OP supports dynamic registration, by checking presence of `registration_endpoint` in [OpenID Provider Metadata](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata)

[2020-09-13 02:15] elf-pavlik commented on #72
Latest draft doesn't include use of Bearer tokens any more.

[2020-09-13 02:15] #72 closed

[2020-09-13 02:19] elf-pavlik commented on #49
Latest draft fully delegates to DPoP spec

[2020-09-13 02:19] #49 closed

[2020-09-13 02:22] elf-pavlik commented on #50
I'd like to leave this issue open. Latest draft still doesn't describe use of OIDC discovery of keys OP used to sign the DPoP-bound Access Token.

We should also keep in mind @acoburn request to only use it unless RS and OP have another way to distribute keys.

[2020-09-13 02:26] elf-pavlik commented on #75
Current version of the draft uses literal with serialized JSON
https://github.com/solid/authentication-panel/blob/master/oidc-authentication.md#webid

[2020-09-13 02:32] elf-pavlik commented on #70
Latest draft has hard dependency on WebID
https://github.com/solid/authentication-panel/blob/master/oidc-authentication.md

Would someone like to take leadership with respect to resolving this issue?

[2020-09-13 02:33] elf-pavlik commented on #69
@acoburn please re-open if you see need to follow up on this issuer.

[2020-09-13 02:33] #69 closed

[2020-09-13 02:34] elf-pavlik commented on #68
@acoburn does latest draft address your concerns?
https://github.com/solid/authentication-panel/blob/master/oidc-authentication.md

[2020-09-13 02:35] elf-pavlik commented on #67
does latest draft address everyone's concerns?
https://github.com/solid/authentication-panel/blob/master/oidc-authentication.md

[2020-09-13 02:36] elf-pavlik commented on #66
@acoburn please re-open if latest draft doesn't address this issue
https://github.com/solid/authentication-panel/blob/master/oidc-authentication.md

[2020-09-13 02:36] #66 closed

[2020-09-13 02:38] elf-pavlik commented on #65
@acoburn please re-open if latest draft doesn't address this issue
https://github.com/solid/authentication-panel/blob/master/oidc-authentication.md

[2020-09-13 02:38] #65 closed

[2020-09-13 02:39] elf-pavlik commented on #64
@acoburn please re-open if latest draft doesn't address this issue
https://github.com/solid/authentication-panel/blob/master/oidc-authentication.md

[2020-09-13 02:39] #64 closed

[2020-09-13 02:41] elf-pavlik commented on #57
@jaxoncreed does latest draft address this issue?
https://github.com/solid/authentication-panel/blob/master/oidc-authentication.md

[2020-09-13 02:43] elf-pavlik commented on #53
@jaxoncreed does latest draft address this issue?
https://github.com/solid/authentication-panel/blob/master/oidc-authentication.md

[2020-09-13 02:45] elf-pavlik commented on #55
@jaxoncreed I think as soon as @EndlessTrax gives us a green light to make PRs you could create one with exact details you would like to include.

[2020-09-13 11:26] acoburn commented on #68
Yes, this has been addressed

[2020-09-13 11:26] #68 closed

[2020-09-14 12:43] justinwb commented on #70
It seems that earlier rough consensus on this thread was to provide an updated WebID draft to expand beyond HTTP. What wasn't clear to me from that consensus was whether that would specifically include DID in that expansion, or by expanding we only aim to _not exclude it_ from being supported later by saying the WebIDs aren't limited to HTTP only.

[2020-10-03 13:55] michielbdejong commented on #46
I think even if the IDP honours this request to prompt-to-create, it will still have a "or do you already have an account?" button or link.
And even if the IDP does not understand this optional request to prompt-to-create, its default login screen will still have a "or register here" button or link.
So yes, useful feature,
And yes, also degrades very gracefully if it's optional.

[2020-10-03 13:56] michielbdejong commented on #46
See also gitter discussion at https://gitter.im/solid/app-development?at=5f77ac77f9cfbe19f935cf10

[2020-10-05 14:12] justinwb commented on #76
Resolved in latest version by @EndlessTrax in https://github.com/solid/authentication-panel/commit/b2a948dc8be8f89d5993120e485202a65b3efa77

[2020-10-05 14:12] #76 closed

[2020-10-05 14:27] justinwb commented on #67
Resolved in latest version of https://github.com/solid/authentication-panel/blob/master/oidc-authentication.bs

[2020-10-06 10:01] michielbdejong opened #78 "Difference between dpop-bound access token and oidc id token?"
Creating this github issue as a pointer to https://lists.w3.org/Archives/Public/public-solid/2020Oct/0000.html

[2020-10-06 12:43] elf-pavlik commented on #78
@acoburn answered it on mailing list thread linked above

[2020-10-06 12:43] #78 closed

[2020-10-12 14:47] elf-pavlik commented on #73
I think we need to clarify what 'account' you refer to, keeping in mind

![solid](https://user-images.githubusercontent.com/876431/62135152-53663300-b2a7-11e9-9098-007f30e4371c.png)

We don't require WebID to be hosted in a solid storage, I think we only expect to discover any storages (now possibly [Data Registry Sets](https://solid.github.io/data-interoperability-panel/specification/#datareg)) a

[2020-10-19 14:09] #50 closed

[2020-10-19 14:17] elf-pavlik commented on #56
Given https://solid.github.io/authentication-panel/solid-oidc/#clientids-oidc

It suggests that server MUST support at least dynamic registration since clients not using WebID as client identifier would need to register. Also @acoburn points out that OIDC requires servers to implement dynamic registration.

[2020-10-19 14:23] acoburn commented on #56
OIDC requires some form of client registration on the server, whether that's static or dynamic. Otherwise, the server wouldn't be especially useful. Dynamic registration is optional under OIDC and support for that on the server can be discovered via standard OIDC discovery.

[2020-10-20 08:44] michielbdejong opened #84 "Refresh Token Rotation"
Consider an in-browser Solid app with no backend, where tokens are stored in a closure (in the way [ISCAJ proposes](https://github.com/inrupt/solid-client-authn-js/issues/423#issuecomment-712677008), so that if other malicious scripts would be present on the page, they would not get access to those tokens.

After a page refresh, you want the app to be able to use the refresh token to silently get

[2020-10-20 08:49] michielbdejong commented on #84
Now that I'm thinking about this, suppose a malicious script manages to run before the page's main script runs.
Then it can change the content of the page. It could maybe even remove the main script from the page altogether before it starts to run. Then to both the IDP and the user this malicious script would be indistinguishable from the app's main script.
So even if you do prompt the user to log

[2020-10-20 08:59] michielbdejong commented on #84
Suppose the main script runs, uses refresh token 1 to get to a logged-in state, obtains refresh token 2, and stores it in localStorage. A malicious script running after the main script could use refresh token 2, and the main app would then detect this as soon as it tries to use refresh token 2 itself (whether after some time, or after a page refresh).

But now suppose the malicious script uses ref

[2020-10-20 12:46] acoburn commented on #84
I would sincerely hope that no one is storing any sort of token in localStorage. It is a little like writing your password on a sticky note and attaching it to your monitor in a shared workspace.

For browser-based applications, I'm honestly not convinced that "offline" scope (i.e. refresh tokens) is the best approach. The login flow of every identity provider I've ever encountered uses cookies an

[2020-10-20 12:59] elf-pavlik commented on #84
I'd like to consider relying on [non-extractable WebCrypto](https://developer.mozilla.org/en-US/docs/Web/API/SubtleCrypto/generateKey#Parameters) instead of using refresh tokens. Together with Self-Issued Assertion as in [JSON Web Token (JWT) Profile for OAuth 2.0 Client Authentication and Authorization Grants](https://tools.ietf.org/html/rfc7523) we might not need refresh token grant all together

[2020-10-20 14:38] michielbdejong commented on #84
Because if the app's main script can use the IDP cookie to get back in after a page refresh, then so can a malicious script. If a script has access to localStorage then it also has access to such cookies.

Would that survive a page refresh?

I think our best bet would have to be something combining:
* data in a place that survives a page refresh
* that data only be usable once (i.e. token rotation

[2020-10-20 17:42] elf-pavlik commented on #84
Yes, non-extractable key can be stored in IndexedDB thanks to [the structured clone algorithm](https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Structured_clone_algorithm)

[2020-10-22 20:23] jaxoncreed opened #86 "Clarify the required OIDC scopes (profile or webid)"
The only mention oidc scope in the draft is in an example for the app WebID client registration: https://solid.github.io/authentication-panel/solid-oidc/#clientids-webid.

It lists `openid profile offline_access`. If my memory serves me correctly, this used to be `openid profile offline_access` where `webid` was a required scope to trigger the solid-oidc process.

Is this now `profile`? If so, the

[2020-10-22 20:37] jaxoncreed opened #87 "How does `Basic` authentication work with app WebIds?"
The specification defines a new way to do application authentication using an application webid (openid profile offline_access)

It also references the need for a client-secret (https://solid.github.io/authentication-panel/solid-oidc/#tokens)

This raises a few questions:
 1. For apps that have an App WebId, how are client secrets generated?
 2. Given they are somehow generated and stored on an ap

[2020-10-22 20:41] jaxoncreed opened #88 "Audience claim in ID Token spec example should be app WebId"
The audience claim for the id_token in the spec is confusing (https://solid.github.io/authentication-panel/solid-oidc/#tokens-id).

The example says `”aud": "https://client.example.com”` But in previous examples, we established the client_id is `https://client.example.com/web#id`

[OIDC specification 1.0](http://openid.net/specs/openid-connect-core-1_0.html) states “Audience(s) that this ID Token

[2020-10-22 21:12] elf-pavlik commented on #88
I think you are right. Could you make PR ?

[2020-10-23 01:26] acoburn commented on #87
Why would a secret even be necessary? These are public clients.

[2020-10-23 01:28] acoburn commented on #88
That's correct: the `aud` claim in the ID token should be the client id.

[2020-10-23 01:29] acoburn commented on #86
I don't believe there is any new scope defined in this spec.

[2020-10-23 01:33] acoburn opened #89 "Inconsistent use of subject claim"
An agent's WebID is defined in the `webid` claim of the access token.

For the ID token, however, the WebID is in the `sub` claim. This is inconsistent and seems wrong. I would suggest that the language describing the ID token (along with the example) be adjusted to use a `webid` claim for the agent's WebID.

[2020-10-23 10:59] michielbdejong commented on #84
Ah cool. It still wouldn't resolve the goal of keeping them available only to the main script on a page, but that definitely helps, because it will stop the malicious script from taking the keys to elsewhere, rather than using them in XHR from the page.

I'll rename this issue to describe the goal rather than a part of a proposed solution.

I don't intend to work on this myself, so unless/until an

[2020-10-23 13:00] jaxoncreed commented on #87
If clients that depend on a client WebID are public clients, it should be referenced in the spec. Would an RS treat a client that has a client WebId different than one that does not because it's public? If so, is there any indication in the access token that it is a public client?

Also, section 6 (https://solid.github.io/authentication-panel/solid-oidc/#tokens) seems to imply that a client secret

[2020-10-23 13:07] michielbdejong commented on #84
Just to make this explicit, an _on-server_ malicious script would still get full access to whatever the app itself is allowed to do on the pod.

But we consider it more likely that a malicious script would exist inside the in-browser part of a Solid app than that it would exist in the backend part (if one exists).
Therefore, if there is a server-side backend, and it only has a higher-level API, wi

[2020-10-23 13:41] acoburn commented on #87
Yes, that does imply the presence of a secret. A secret _will_ likely be present for any statically-registered client, but it should be made clear that, for public clients, there will be no secret.

As for how they are treated by an RS, that will depend on the authorization system in place. There are, basically, three possibilities for what will be in the access token:

1. No `client_id` claim. Th

[2020-10-23 15:18] jaxoncreed commented on #87
So, just to confirm. A client that uses a client WebId does not need to do Basic auth? Does it need an `Authorization` header at all for a `/token` request?

[2020-10-23 16:03] acoburn commented on #87
That is correct. In this case, the client registration information will be at a public URL and therefore accessible to anyone. While one _could_ put a `client_secret` value in that registration data, a "public secret" doesn't make much sense and certainly isn't adding any security. And as such, the `Authorization` header wouldn't be necessary.

Just as a note, for ordinary OIDC clients (those with

[2020-10-23 16:38] jaxoncreed commented on #87
Then the main conclusion of this discussion is that the wording here should be change to not imply that a client secret is needed https://solid.github.io/authentication-panel/solid-oidc/#tokens

[2020-10-24 12:58] elf-pavlik commented on #89
👍 could you submit PR?

[2020-10-26 14:11] jaxoncreed commented on #86
I don't think `profile` makes sense for a scope, as that scope is usually to go an email and name, none of which is included in our token claim. Also, would it make sense to have a scope to get the webid claim? We used to have the `webid` scope.

[2020-10-26 14:23] elf-pavlik commented on #86
Looking at https://openid.net/specs/openid-connect-core-1_0.html#ScopeClaims
It seems reasonable to have `webid` scope if clients expects to get `webid` claim in the id token. Maybe even it would make sense `solid` scope to get solid access token.

[2020-11-03 11:02] michielbdejong commented on #84
Cookies on the pod server's API would also work, I guess, as @jaxoncreed proposed in https://gitter.im/solid/solidos?at=5f9c1995f2fd4f60fc42b95d

[2020-11-03 11:03] michielbdejong commented on #84
cc @nicolasmondado

[2020-11-04 07:58] michielbdejong commented on #84
@jaxoncreed regarding your cookie-on-RS proposal, I just realised that if app1.com only accesses pod.com, there will only be a cookie session established on pod.com, and not on e.g. friend.com. So if then the page is refreshed, and then the app wants to access data from friend.com after the refresh, it will still fail.

That's why I said the cookie should be on the IDP, not on the RS. If the IDP s

[2020-11-23 14:53] bblfish opened #96 "HTTP requests don't contain hashes"
In the [current published primer spec](https://solid.github.io/authentication-panel/solid-oidc-primer/#pkce-login-flow-step-7) there is a request for

[code]

HTTP Requests MUST NOT contain "#fragments", as the HTTP is a protocol to retrieve documents, not document fragments.

[2020-11-23 14:55] elf-pavlik commented on #96
could you please make PR to fix it?

[2020-11-23 15:32] TallTed commented on #96
Problem line in source [is here](https://github.com/solid/authentication-panel/blob/24a93643fc8a224465631e5e77f0b847cc06516f/proposals/solid-oidc-primer/index.bs#L283).  I'll leave the PR to you.

[2020-11-23 15:41] bblfish opened #97 "Typo in Graphic"
There is a typo in the graphic for the Solid OIDC primer.

<img width="537" alt="Screen Shot 2020-11-23 at 16 25 44" src="https://user-images.githubusercontent.com/124506/99982232-999fa980-2daa-11eb-9088-1679b1f6f596.png">

[2020-11-23 15:50] bblfish opened #98 "It would be helpful to have introduction to flows in primer"
The primer contains 2 flows. But there is no introduction as to when they are needed and why.  A short paragraph or two doing that would help make the structure easier to read and understand for people coming at it for the first time.

[2020-11-23 16:09] acoburn commented on #96
True, the HTTP request should not contain a `#fragment`, but that fragment portion is also an important part of the client's WebID, since that will affect the triple that is matched in the RDF response. So it would likely make sense to have something like, "For the WebID `https://decentphotos.example/webid#this`, make a request `GET https://decentphotos.example/webid` ..."

[2020-11-26 01:18] #97 closed

[2020-12-01 13:25] matthieubosquet opened #101 "client_webid or client_id"
The specification uses `client_id`, should we use `client_webid` as claim instead for consistency?

[2020-12-01 13:32] acoburn commented on #101
We should use `client_id`, which is already a defined property in OIDC. That also aligns with the use of `client_id` in the rest of the OIDC flows.

[2020-12-01 13:34] matthieubosquet commented on #101
Clarified with @acoburn , the `client_webid`claim I spotted is an old thing.

`client_id` is the correct claim name.

[2020-12-01 13:34] #101 closed

[2020-12-02 23:43] pmcb55 opened #107 "Sightly unclear/inconsistent description of `cnf` claim for DPoP-bound Access Tokens in solid-oidc spec"
In the `solid-oidc` draft, I find the wording in relation to the `cnf` claim [here](https://github.com/solid/authentication-panel/blob/d142a9e463e3bdb67afdae7607a905ab052bfa96/proposals/solid-oidc/index.bs#L261) a little unclear, and inconsistent with the descriptions for the other claims listed alongside it.

[code]

Since all these claim descriptions are all under the heading `The DPoP-bound Acc

[2020-12-07 15:00] matthieubosquet commented on #107
In all DPoP bound Access Token the cnf claim is required. See [the DPoP spec](https://tools.ietf.org/html/draft-fett-oauth-dpop-04#section-7):

   MUST contain information about the DPoP public key (in JWK format) in
   the member "jkt" of the "cnf" claim, as shown in Figure 5.

On the other hand we probably should accept Bearer tokens (they are legitimate and secure enough in trusted contexts).

[2020-12-14 16:30] acoburn opened #108 "Discovery mechanism for Solid Spec conformance"
Given that a Solid app may interact with any number of identity providers, there should be a mechanism by which the app can determine whether the IdP conforms to the Solid-OIDC specification.

This would affect whether an app can send an external client webid as a `client_id` as part of the authorization code flow or whether the app needs some other mechanism for identifying the client registratio

[2020-12-17 00:18] matthieubosquet opened #109 "Missing vocab property oidcRegistration"
This spec defines the property `solid:oidcRegistration`. It is currently missing from the solid vocab repository.

See: https://github.com/solid/vocab/issues/43

[2020-12-17 10:56] edwardsph opened #110 "Minor typo in solid-oidc-primer"
In section 4.1 para 6 - change seaparated to separated

[2020-12-17 11:09] namedgraph opened #111 "WebID-OIDC delegation"
I don't see anything in https://solid.github.io/authentication-panel/solid-oidc/ about delegation. Can a Solid server make requests on behalf of the user using WebID-OIDC? If yes, how?

Delegation is possible using WebID-TLS and the `On-Behalf-Of` header: https://www.w3.org/wiki/WebID/Authorization_Delegation#Auth_Sequence

[2020-12-22 16:25] #89 closed

[2020-12-22 16:58] #110 closed

[2020-12-28 13:47] matthieubosquet opened #114 "WebIDs MUST use a secure protocol"
All resources used in the context of Solid Authentication and Authorization MUST use a secure protocol.

Namely, a WebID used for Authentication MUST use the https protocol. That is true of both client and user WebIDs.

Currently, the specification states: "a WebID is a HTTP URI". I couldn't find any specific requirements about security in transit.

I appreciate that it seems a bit like stating th

[2020-12-28 21:19] csarven commented on #114
Implied as per:

* WebID is indeed a HTTP URI in that both "http" and "https" URI schemes can be used.
* HTTP over TLS.
* "https" URI scheme depends on TLS.
* Solid-OIDC depends on TLS (Security Considerations).

I agree, the spec can/should be tightened.

As to whether the spec(s) should mandate that the "https" URI scheme MUST be used for WebID in Solid authentication may be worthwhile to consid

[2020-12-30 13:23] matthieubosquet commented on #114
I wholeheartedly agree.

And thanks for the link! I'd love to see the HTTP protocol secure by default and fail to see the reasons why it shouldn't be. Also, the coexistence of URIs served by different protocols does annoy me too.

I have two questions:
- Do you know if there has been progress in the TLS everywhere stream of work or if it exists in any form or shape?
- As far as how to formulate th

[2021-01-07 21:44] #88 closed

[2021-01-07 21:46] #96 closed

[2021-01-07 22:09] elf-pavlik commented on #111
I'll try to capture some things we discussed during the last call:

OAuth is all about *user* delegating access to a *client*. In vast majority of cases solid application will act as OAuth *client* and user will delegate some subset of their access to it. In the case the *client* (solid app) acts on behalf of the user. It doesn't make difference if that client (solid app) runs locally on the devic

[2021-01-11 15:10] justinwb commented on #108
This makes a lot of sense - noting that we'll want to use https://solidproject.org/TR/

[2021-01-11 15:20] csarven opened #116 "Determine identifier and title for the solid-oidc spec"
Currently `solid-oidc`

[2021-01-11 15:29] matthieubosquet opened #117 "Correctness of the solid:oidcIssuer predicate"
As discussed during the solid authentication panel https://gitter.im/solid/authentication-panel?at=5ffc6cf1fb85d46e04d5f6b0

The solid-oidc specification name seems to correctly denote the fact that the authentication described here is strongly related to OpenID Connect. See also related issue: https://github.com/solid/authentication-panel/issues/116

However, for future proofing and in light of t

[2021-01-11 15:49] matthieubosquet commented on #116
Should we have a parent document collecting everything that is related to authentication in the Solid ecosystem?

- solid-identity-provider
    - webid-oidc
    - webid-cookie
    - webid-tls

... ?

[2021-01-12 14:28] acoburn commented on #117
I would like to argue in favor of keeping `solid:oidcIssuer`

There are currently two authentication mechanisms described in the [Solid Protocol Specification](https://solid.github.io/specification/protocol#authentication):

* Solid-OIDC
* WebID-TLS (support for this is not required)

If we look at these two mechanisms and consider for the sake of discussion that there is a `Solid-SAML` mechanism

[2021-01-15 21:06] acoburn commented on #55
Given the level of detail in the [Solid-OIDC primer](https://solid.github.io/authentication-panel/solid-oidc-primer/#solid-oidc-flow) can this issue be closed as resolved?

[2021-01-15 21:35] acoburn commented on #107
I believe this issue has been resolved and can be closed.

[2021-01-15 21:37] acoburn commented on #87
I believe this issue has been resolved and can be closed.

[2021-01-25 03:23] #111 closed

[2021-01-25 15:18] #108 closed

[2021-01-25 15:34] csarven commented on #62
Closing with the understanding that it can be updated any time.

[2021-01-25 15:34] #62 closed

[2021-01-25 16:06] acoburn commented on #107
This issue was resolved via #106
Please feel free to re-open if further textual clarification is needed

[2021-01-25 16:06] #107 closed

[2021-01-25 16:07] acoburn commented on #87
This issue was resolved via #92
Please feel free to re-open if more discussion is needed

[2021-01-25 16:07] #87 closed

[2021-01-25 16:21] acoburn commented on #75
Closing this as the current specification draft uses a serialized JSON literal. https://solid.github.io/authentication-panel/solid-oidc/#clientids-webid

[2021-01-25 16:23] acoburn commented on #57
This issue was resolved via #49
Please reopen this issue if more discussion is needed

[2021-01-25 16:23] #57 closed

[2021-01-25 20:33] acoburn commented on #56
As requirements for dynamic and static registration are defined by the OIDC specification, and it is possible for a client to discover which of these features an OIDC Authorization server supports, this issue is out of scope for the specification. If there is further discussion to be had on this issue, please re-open.

[2021-01-25 20:33] #56 closed

[2021-01-25 20:34] acoburn commented on #52
This has been defined by the current draft spec in https://solid.github.io/authentication-panel/solid-oidc/#clientids-webid

[2021-01-25 20:34] #52 closed

[2021-01-25 20:35] acoburn commented on #55
This issue has been addressed with the creation of the [Solid-OIDC primer](https://solid.github.io/authentication-panel/solid-oidc-primer/#solid-oidc-flow)

[2021-01-25 20:35] #55 closed

[2021-01-25 20:38] acoburn commented on #41
The Solid-OIDC specification draws upon the security considerations of various underlying specifications:

https://openid.net/specs/openid-connect-core-1_0.html#Security
https://tools.ietf.org/html/rfc6749#section-10
https://tools.ietf.org/html/rfc7231#section-9

[2021-01-25 20:38] #41 closed

[2021-01-25 20:40] acoburn commented on #8
This issue is out of scope for the Solid-OIDC panel. If there are particular portions of the specification that make it incompatible with constrained devices, such as an Arduino, a new issue should be created, focused on that particular area.

[2021-01-25 20:40] #8 closed

[2021-01-25 20:40] acoburn commented on #26
The key parts of this issue are addressed with https://solid.github.io/authentication-panel/solid-oidc/#clientids-webid

[2021-01-25 20:40] #26 closed

[2021-01-25 20:42] acoburn commented on #48
The Solid-OIDC specification requires the presence of one or more `solid:oidcIssuer` triples. Other data is out of scope for this specification.

[2021-01-25 20:42] #48 closed

[2021-01-25 20:44] acoburn commented on #30
The current state of the specification answers the issue raised here: https://solid.github.io/authentication-panel/solid-oidc/#resource-access-validation

[2021-01-25 20:44] #30 closed

[2021-01-25 20:45] acoburn commented on #63
As stated above, this current Solid-OIDC specification draft answers this question: https://solid.github.io/authentication-panel/solid-oidc/#resource-access-validation

[2021-01-25 20:45] #63 closed

[2021-01-25 20:53] acoburn commented on #14
The Solid-OIDC specification requires the Authorization Code flow. It does not take a position on the implicit flow _per se_, as that is orthogonal to what this specification requires.

[2021-01-25 20:53] #14 closed

[2021-01-25 20:54] acoburn commented on #47
The objections here have been noted, but Solid-OIDC specification is built centrally around DPoP.

[2021-01-25 20:54] #47 closed

[2021-01-25 20:57] acoburn commented on #1
The objections here have been noted. That said, the panel consensus has been to proceed with DPoP + bearer tokens.

[2021-01-25 20:57] #1 closed

[2021-01-25 20:58] acoburn commented on #5
This is a very useful idea but it is somewhat out of scope for the Solid-OIDC specification. This could, however, be revived as a concrete proposal.

[2021-01-25 20:58] #5 closed

[2021-01-25 21:01] acoburn commented on #45
Much of what is described here has been implemented in the intervening ~9 months, and so this is no longer entirely relevant for the panel. If there is more to discuss on this issue, it can be re-opened

[2021-01-25 21:01] #45 closed

[2021-01-25 21:39] acoburn commented on #53
This issue was resolved via https://github.com/solid/authentication-panel/commit/05ba10aba4c60eaa3812b6e46fb839426a8ef60b
Feel free to re-open if further clarification is needed.

[2021-01-25 21:39] #53 closed

[2021-01-27 21:24] bblfish opened #123 "keeping track of efficiency"
On the [Monday 25 Jan Teleconf](https://github.com/solid/authentication-panel/pull/122/files?short_path=c5de36f#diff-c5de36fb3998722b3c0d11056af2f13a30a7c1cb734f1b0dbcc774252e71141e)) I presented a protocol, that looks like it has some efficiency advantages on first sight.
We should be able to tell by considering a use case that takes into account how HyperApps have to work. These are very differe

[2021-01-27 21:59] csarven commented on #123
FWIW, I suppose dokieli is a "hyper app" as per your description as few features are implemented with those characteristics. Off the top of my head:

* fetch inbox, fetch each contained resource, fetch one or more linked resources (eg. to discover decentralised annotations as part of the Annotations feature)

* authenticated user -> fetch WebID Profile Document, fetch all of its sameAs's (and foll

[2021-01-27 22:08] bblfish commented on #123
Re: TLS client certificate requests. My hope is that the browsers would fix that. But I don't think it was too much change at the TLS level, and not very easy for the TLS server to express what kinds of certificates would be valid.

[2021-01-27 22:12] elf-pavlik commented on #123
I think it would be interesting to keep network overhead in mind. Few quick observations:

* WebID Documents are intended to be public so we don't need authenticated requests for those, we could possibly pick use case discussed during last week interop panel https://git.startinblox.com/applications/trust/interop-hubl where 'cirecles' may be access controlled.
* If client would need to get 20 diffe

[2021-01-30 11:38] matthieubosquet opened #124 "Correctness of the solid:PublicOidcClient named individual"
Does it matter that a public client would be an OIDC client?

I imagine this being useful from an authorization perspective in which case, you would probably treat all public clients equally.

Would it be better to name the ephemeral clients identifier `solid:PublicClient`?

See also: https://solid.github.io/authentication-panel/solid-oidc/#clientids-public-webid

[2021-01-30 11:42] matthieubosquet commented on #117
@acoburn I reckon enough time has passed without further comments and your answer seems to me like the correct answer to my question.

Can we close this issue?

[2021-01-30 11:54] #117 closed

[2021-01-30 13:05] csarven commented on #117
When needed, oidcIssuer can become a subPropertyOf identityProvider.

[2021-01-31 20:45] bblfish commented on #123
@elf-pavlik wrote:

For the simple AddressBook example, it is easy to imagine simply that every WebID links to 3 to 5 groups with different protection levels:
 - 1 public group
 - 1 group for family members
 - for colleagues
 - 1 for business contacts
 - 1 for foaf (so requiring a proof that one is a foaf)
 - another based on some attribute

[2021-02-09 20:10] bblfish opened #126 "Web Credentials Wallet questions"
Watched this very informative recent talk by Drummond Reed from October 29 2020 [The Trust Over IP Stack: Achieving Global Interoperability with Self Sovereign Identity](https://sovereign.id/trust-over-ip-global-ssi-interoperability/). Which gives a certain very ambitious view of what is going on in that space of wallets and DIDs.

Initial questions it raises for me are:
 1. Find out how our Hyper

[2021-02-10 09:16] bblfish commented on #126
Drummond Reed in his talk mentions the book Manning book [Self Sovereign Identity](https://www.manning.com/books/self-sovereign-identity) that should be finished in April. It is very useful as it gives an overview of the whole ecosystem, which is a view that is impossible to get just by reading specifications, especially as there a large number of actors with differing views on how to use the tech

[2021-02-11 16:17] bblfish commented on #126
@dmitrizagidulin a couple of years asked a question of integrating did and solid. Reading the SSI book led me to a few ways to see how these could be integrated.  [see issue 217 of specification github](https://github.com/solid/specification/issues/217#issuecomment-777101431)

[2021-02-12 17:31] gibsonf1 commented on #123
@bblfish   So the actual resources in this example would all likely be public, however, the groups listing the webid may not be?

[2021-02-12 19:11] bblfish commented on #123
@gibsonf1 currently all RDF is open, so we need to imagine what the web would be like if it acted like a decentralised SN which a realistic number of open and closed resources. I think realistically everyone would have various closed  groups. 5 to 10 perhaps? Those would link to discussions and content that is protected (for family, buisness, personal, ... ) I guess once authenticated for a resour

[2021-02-12 19:47] bblfish commented on #123
Another question on my mind is if HTTP/3 (Quic) would help. How much?

[2021-02-15 11:52] bblfish opened #127 "Track implementation options for HttpSig protocol"
We had an interesting discussion with @acoburn on the [HttpSig PR](https://github.com/solid/authentication-panel/pull/125#issuecomment-778833272) on the various issues around implementing the protocol. There are many options to be investigated of which
 * Using JS Crypto API
 * Browser plugin as done my Web Monetization
 * Proxy on the Solid Pod that holds the credentials<
 * ...

 I will also add

[2021-02-22 13:53] csarven opened #128 "Document implementations"
We can document existing, ongoing, or planned implementations. It will serve to advancing the specifications (from this repo/panle) and identity areas where we can improve. This issue is not intended to be the canonical location for implementations or to replace implementation reports made against test suite.

Update table criteria as needed.

## Solid-OIDC implementations

|URL|Notes|
|-|-|
|http

[2021-02-22 14:20] calummackervoy opened #129 "404 on .svg diagrams in the Solid-OIDC primer document"
See:
* https://solid.github.io/authentication-panel/solid-oidc-primer/primer-request.mmd.svg
* https://solid.github.io/authentication-panel/solid-oidc-primer/primer-login.mmd.svg

[2021-02-22 15:23] elf-pavlik commented on #129
@acoburn mentioned during the meeting that he should have PR fixing it today

[2021-02-22 15:45] elf-pavlik commented on #128
Maybe we can just include this table in README.md ?

[2021-02-22 20:30] #129 closed

[2021-02-23 14:19] acoburn commented on #29
Given that the current draft of the Solid OpenID Connect authentication protocol is named `Solid-OIDC`, I am marking this as resolved.

[2021-02-23 14:19] #29 closed

[2021-02-23 14:21] acoburn commented on #58
This issue has been in the `can-be-closed?` state for over a month with no objections.

[2021-02-23 14:21] #58 closed

[2021-02-23 14:24] acoburn commented on #12
This is an old issue that has been discussed and it is more in line with classic OAuth2 than OpenID Connect. Marking as closed as the Solid-OIDC proposal relies significantly on DPoP.

[2021-02-23 14:24] #12 closed

[2021-02-23 14:27] acoburn commented on #10
This issue has gone stale and is, apparently, no longer relevant.

[2021-02-23 14:27] #10 closed

[2021-02-24 08:54] michielbdejong commented on #128
I think the main difference is that ISCAJ keeps its credentials inside a closure, which makes it more secure in some situations, and solid-auth-fetcher exposes them to the calling code, which makes it more versatile in other situations.

[2021-02-27 19:05] jeff-zucker commented on #128
There are now client implementations in Perl and Rust so they might belong here.

[2021-02-27 19:09] jeff-zucker commented on #128
I'm a bit unclear what should be included on this list.  Should it have low-level stuff like oidc-op? How about higher-level libraries which make use of the stack (e.g. Inrupt's solid-client-authn-* or solid-node-client)?

[2021-02-27 22:39] acoburn commented on #128
The list should include libraries/applications that implement or intend to implement the specifications defined by this panel. T present, that includes [Solid-OIDC]
(https://solid.github.io/authentication-panel/solid-oidc/).

[2021-03-01 15:35] elf-pavlik commented on #128
During call we noticed that we need conformance section which will prescribe which roles (IdP, RS, client) have to implement what.

[2021-03-01 16:14] csarven opened #133 "Solid OIDC Conformance Classes"
Add a Conformance Classes section listing the roles that Solid OIDC specifies. The criteria for each of the roles can be described in their respective sections.

[2021-03-03 10:04] matthieubosquet opened #135 "Is the Solid OIDC spec too strict on aud claim?"
The Solid OIDC spec currently says: "The audience claim MUST be the string solid.".

See: https://solid.github.io/authentication-panel/solid-oidc/#tokens-access

Is there a Use Case for allowing JWTs with multiple audience values?

See also: https://github.com/solid/identity-token-verifier/issues/3

[2021-03-04 10:25] calummackervoy opened #136 "Possibly missing `solid_oidc_supported` key in primer example"
In the [solid-oidc spec](https://solid.github.io/authentication-panel/solid-oidc/#discovery) it reads "An Identity Provider that conforms to the Solid-OIDC specification MUST advertise this in the OpenID Connect Discovery 1.0 OpenID.Discovery resource"

My assumption is that this means that the `solid_oidc_supported` key needs to be included in the resource at `.well-known/openid-configuration/`

[2021-03-04 12:50] acoburn commented on #136
Thanks @calummackervoy, that's an oversight. We will fix that straight away.

[2021-03-04 19:56] acoburn commented on #135
@matthieubosquet thanks for raising this. Here is some useful context.

From [RFC 7519](https://tools.ietf.org/html/rfc7519#section-4.1.3), which defines JWT

[code]

From [Open ID Connect 1.0](https://openid.net/specs/openid-connect-core-1_0.html#IDToken) -- note that this is specifically about the ID token, not the access token

[code]

In both cases it is significant (to me) that the audience c

[2021-03-04 21:10] #136 closed

[2021-03-05 08:15] matthieubosquet commented on #135
I would just be worried that a non-solid audience could be perceived as just OIDC and skip checking the WebID's `solid:oidcIssuer`, which might be valid as long as the audience is under the same authority as the issuer and the WebID has been verified when the account was created. Does it make sense?

[2021-03-05 15:33] acoburn commented on #135
I would see this more as a feature than a problem. Consider the following:

An organization has an existing SSO system, built on OIDC, used by many non-Solid apps. Now they want to extend their identity provider to also support Solid apps. They can do this by adding a WebID claim and by adding `solid` to a list of existing audience claims. This allows that organization to continue to use the same

[2021-03-08 08:51] bblfish opened #138 "Change HttpSig to draft-cavage Signature?"
When I wrote up [HttpSig](https://github.com/solid/authentication-panel/blob/main/proposals/HttpSignature.md) I did this mostly from memory. On looking at Draft-Cavage 12 again I noticed it had a [Signature](https://tools.ietf.org/html/draft-cavage-http-signatures-12#section-3) method that pretty much equivalent to our `Authorization: HttpSig`.

It would be good to know if the Authentication part

[2021-03-08 09:21] bblfish opened #139 "HttpSig and Nonces"
When writing up the HttpSig proposal from memory I forgot about adding nonces. Looking back at [draft-cavage-12](https://tools.ietf.org/html/draft-cavage-http-signatures-12) I noticed that there is a link to a document on the subject [Http-Signature nonces](https://web-payments.org/specs/source/http-signature-nonces/). Again it would be useful to know where that went and what we could use of that

[2021-03-08 14:20] matthieubosquet commented on #135
This all makes sense. I created a PR potentially fixing the issue. I think what you're describing is a clear use case.

https://github.com/solid/authentication-panel/pull/141

[2021-03-08 15:17] #135 closed

[2021-03-08 15:21] matthieubosquet commented on #86
Mentioned in discussions on https://github.com/solid/authentication-panel/pull/141 and https://hackmd.io/tI_WdIvVSd2AaMBWt0D3_Q

I would +1 `solid` scope rather than `webid` since it seems consistent with the access token's audience claim.

[2021-03-08 16:08] acoburn commented on #86
I could go either way between `solid` and `webid` (with a slight preference for `solid`). Requiring a scope would provide a clear mechanism for clients to signal that they want a `solid` access token.

Overall, +1 on using a scope for this.

[2021-03-10 15:55] pmcb55 opened #171 "Solid-OIDC Conformance Discovery - not supporting Solid-OIDC MUST NOT provide a value"
Should the Solid-OIDC spec [here](https://solid.github.io/authentication-panel/solid-oidc/#discovery) make it clearer that a server *not* implementing Solid-OIDC MUST NOT provide a value for the `solid_oidc_supported` option with the intent of indicating that they don't support it (e.g., should it state explicitly that having something like "solid_oidc_supported: "Not supported yet (but it's comin

[2021-03-12 09:14] bblfish opened #143 "lost contributions in move of HttpSig doc"
I would like to try the move again, as I seem to have lost all the history of improvements when I did the last commit.

[2021-03-15 13:30] elf-pavlik commented on #143
What do you mean by 'move it again', and how did you lose all history? It was don't via PR so no one force pushed to the main branch.

[2021-03-15 13:48] elf-pavlik opened #145 "Clarifying specific areas of overlap with AuthZ"
We discussed couple of times areas possibly overlapping with AuthZ. I'd like to start documenting them in this issue. I think currently we can point out:

* Use of `WWW-Authenticate` HTTP header in response from RS (for example [UMA2.0 includes link to Authorization Server](https://docs.kantarainitiative.org/uma/wg/rec-oauth-uma-grant-2.0.html#permission-success-to-client))
* Use of `Authorization

[2021-03-15 13:50] bblfish commented on #143
I probably was not careful about doing a `git mv` on the document. I can't really tell.

[2021-03-15 15:19] acoburn opened #146 "Proposal: change webid claim to solid"
This is a proposal to change the `webid` claim to `solid` in access tokens and ID tokens.

The background for this is severalfold:

1. The current `webid` claim is very WebID specific, and WebIDs are (according to the [draft WebID specification](https://www.w3.org/2005/Incubator/webid/spec/identity/)) limited to HTTPS URLs. If other types of identifiers are to be supported (e.g. DIDs, VCs), placin

[2021-03-15 15:28] bblfish commented on #143
There is actually no problem. The history is still there as seen by the [blame view](https://github.com/solid/authentication-panel/blame/main/proposals/HttpSignature.md). It is just the way github presents the icons of who has contributed that does not take it into account  (See the icons [on the top of the httpsig page](https://github.com/solid/authentication-panel/blob/main/proposals/HttpSignatu

[2021-03-15 15:28] #143 closed

[2021-03-20 20:12] elf-pavlik commented on #146
What do you think to use IRI of the spec as scope, as in https://solid.github.io/authentication-panel/solid-oidc/#discovery

This way the spec would specify conformance criteria #133 for each role in the ecosystem.

With this approach we could extend / amend it in the future by publishing updated spec with new IRI.

[2021-03-20 21:06] elf-pavlik commented on #146
Using IRI for claim also seems to be in line with JWT spec

[RFC 7519 - JSON Web Token (JWT)](https://tools.ietf.org/html/rfc7519#section-4.2)

   order to prevent collisions, any new Claim Name should either be
   registered in the IANA "JSON Web Token Claims" registry established
   by Section 10.1 or be a Public Name: a value that contains a
   Collision-Resistant Name.  In each case, the defin

[2021-03-21 21:56] bblfish opened #151 "keyId's do not exactly refer to keys anymore"
In  [Signing HTTP Messages 02](https://www.ietf.org/archive/id/draft-ietf-httpbis-message-signatures-02.html#section-5.1.2.1) the only remaining algorithm is named `hs2019` .
This algorithm actually covers nearly all the others, but shows a change in direction of the meaning of the `keyId`.
Whereas until [draft-cavage-10](https://tools.ietf.org/html/draft-cavage-http-signatures-10#section-3.1.2) t

[2021-03-22 13:18] #60 closed

[2021-03-22 13:25] elf-pavlik opened #152 "specify parameters in WWW-Authenticate header"
Currently spec only mentions in non-normative Basic Flow section:

I think this should go along with claim in access token (related to claim in id_token #146)

[2021-03-22 14:49] balessan commented on #146
Just to follow-up with the discussion I kind of like the idea of keeping consistency by moving from `webid` to `solid` there, if specifying the IRI is just passing a static string to the area of the specification why not.

I have no strong opinion about the possible length of the associated IRI and the possible overhead of the request size but the scenario deserves some attention I think.

[2021-03-22 15:00] balessan commented on #133
I think I support that suggestion but that is unclear to me how a conformance class is represented.

Is that implementation-oriented, like some code examples, or specifications-oriented with every criteria phrased ? Do you have any example from another specification document ?

[2021-03-22 15:02] bblfish commented on #145
In [HTTP-Sig](https://github.com/solid/authentication-panel/blob/main/proposals/HttpSignature.md) the idea is to use the `Link: <doc.acl>; rel="acl"` header to allow the party dealing with authentication (Client, Launcher App, Wallet Agent, OIDC IDP, ...) to find out what groups of agents can have access and in what mode, in order to decide what credential to use.
This tends to bring up the  probl

[2021-03-22 17:31] matthieubosquet commented on #146
I like the idea of having a future-proof claim in Solid OIDC Access & ID Tokens.

Alternatively to changing the `webid` claim to `solid`, the possibility of adding other schemes to the WebID specification, which is currently a draft was raised. Extending WebIDs to other schemes seems regardless of the resolution of this issue like a good idea. @bblfish do you have an idea of where to best raise th

[2021-03-26 06:14] bblfish opened #155 "HttpSig, Signature or Solid?"
In the current [HttpSig proposal](https://github.com/solid/authentication-panel/blob/main/proposals/HttpSignature.md) I suggest using

[code]

header. In @msporny and @mcavage-stripe's [draft-cavage](https://tools.ietf.org/html/draft-cavage-http-signatures-12) used use, from version 02 onwards

[code]

We could use `Signature` as before, except that
 1. cavage never specified the format to indicat

[2021-03-26 07:03] bblfish opened #156 "Ontology for the KeyId document"
Research space to find ontologies that could be used for the [Http Signatures proposal](https://github.com/solid/authentication-panel/blob/main/proposals/HttpSignature.md).

There is the 13 year old [Cert Ontology](http://www.w3.org/ns/auth/cert#) from 2008 that has enough info to encode RSA keys. It could be developed further.

There is the [security vocabulary](https://w3c-ccg.github.io/security

[2021-03-26 07:23] bblfish commented on #138
duplicate of https://github.com/solid/authentication-panel/issues/155

[2021-03-26 07:23] #138 closed

[2021-03-26 14:59] OR13 commented on #156
Is this essentially a request for new vocabulary? I would be happy to review any changes to the security vocab that would make it useful for solid. Let me know how I can help.

[2021-03-26 15:15] csarven commented on #75
Ack'ing the intended consumer of oidcRegistration but have to say that it is an awkward block of data to include in the WebID Profile document. Aside: for human-readable representations of the WebID Profile document, it forces the publisher to consider hiding the information from view (eg. with CSS) because it is not particularly useful to a human reader but only to a machine.

Having said that, m

[2021-03-26 17:09] bblfish commented on #156
Hi @OR13. I can't quite tell if I need a new vocabulary item, as i am having trouble parsing the examples from the spec. (see [issue 93 in the security-vocab](https://github.com/w3c-ccg/security-vocab/issues/93)).

All I need for the moment is to express something along the lines of what I expressed above for RSA keys, to say that I have a signing key that links to an RSA cryptographic key, to be

[2021-03-26 19:18] elf-pavlik commented on #75
Since only turtle serialization is required by WebID draft I would expect all implementations to request `text/turtle`. I don't think CSS will play any role here.

[2021-03-27 12:46] bblfish commented on #156
Ok @OR13. I found that the [Titanium JSON-LD parser](https://github.com/filip26/titanium-json-ld#documentation) works with the security vocabulary (see issue 93 above).
I think the following JSON should do for the [hs2019 algorithm](https://tools.ietf.org/html/draft-ietf-httpbis-message-signatures-02#section-5.1.2.1) in Signing HTTP Messages.

[code]

The algorithm PS512 is defined in [RFC 7518](h

[2021-03-28 08:11] David-Chadwick commented on #156
@bblfish In the did:jwt draft I have written I use the alg id to tell the recipient what the remaining public key parameters are. Together these become the jwt kid (they are the public key). As new crypto algorithms are invented, then the JWT group will define new alg identifiers. So
an example encoding for RS256 is:
          "n": "0vx7agoebGcQSuuPiLJXZptN9nndrQmbXEps2aiAFbWhM78LhWx
     4cbbfAAt

[2021-03-28 09:30] bblfish opened #157 "support did-jwt ?"
The current [HttpSig spec proposal](https://github.com/solid/authentication-panel/blob/main/proposals/HttpSignature.md) suggests that `did:key` can be used as a `keyId`. There [is an open issue](https://github.com/solid/authentication-panel/issues/151) whether `did:key`s refer to just the cryptographic key or more.

@David_Chadwick in [his response to issue 156](https://github.com/solid/authentica

[2021-03-28 09:42] csarven commented on #75
The core of my message was about an accessibility consideration.

As it stands, Solid OIDC requires the WebID publisher to present a gobbledygook Turtle document needing to make an assertion about the WebID with a JSON literal about the oidcRegistration information. While that may be completely acceptable for the purpose of Solid OIDC, a higher up - important - consideration here is about describi

[2021-03-28 09:46] csarven opened #158 "Clarify the behaviour if/when multiple oidcRegistrations are present"
re

can that be clarified to indicate whether a WebID description must only have one oidcRegistration? and related: what's the intended behaviour when more than one oidcRegistration property is present

[2021-03-28 11:14] David-Chadwick commented on #157
@bblfish wrote (For some reason it is not called did:jwt but did:ethr)
This is not quite correct. did:jwt is our chosen did method name, but it has not been published yet in the did method's repository. We only have a draft in .txt format so far. (The reason we have not published it yet, is that we have not got to grips with the W3C draft spec publishing scripts and how to use them)

[2021-03-28 11:36] bblfish commented on #75
Ah, agree, it seems unnecessary to put JSON literals into an RDF document, when the client has had to parse the RDF to start with, and when the data could be used for other things. It makes sense for CryptKeys, as building a crypto ontology is a lot of work, and one tends to get into too many discussions with the JWT folks.

[2021-03-28 13:39] acoburn commented on #75
Using an `rdf:JSON` datatype would be fine. No objections there.

The reason we have a JSON literal in this position is due to the fact that OIDC has already [defined a JSON response format](https://openid.net/specs/openid-connect-registration-1_0.html#RegistrationResponse) for OIDC client registrations. A viable alternative to the current model would be to _not_ use RDF at all and simply return J

[2021-03-28 13:56] bblfish commented on #75
Ok,  but OIDC requires a pure JSON format, not a JSON embedded in RDF format. It guess, that most IDPs would break on reading JSON-LD even. Here what is required is for it to read both RDF and JSON. So given that you have already required an RDF parser, it seems like it would not be that much to require it to read more than one relation, but a few.

This is from the spec:

[code]

 It seems like a

[2021-03-28 14:02] acoburn commented on #75
Sure, but now we're talking about inventing a vocabulary for all of OIDC.

Having already implemented support for client identifiers, I can assure you that the currently defined format is considerably easier to manage than a pure-RDF one.

[2021-03-28 14:06] bblfish commented on #75
We are going to need descriptions for that anyway. We could just piggyback on their work. Give OIDC a namespace, and see if turning the above into an ontology make sense. If not adjust a bit.

[2021-03-28 14:12] acoburn commented on #75
We can discuss this on our call, but I'm basically 👎 on that approach: it is too much of a departure from OIDC

[2021-03-28 14:17] csarven commented on #75
Pardon my ignorance as I'm probably missing something here... and surely this has been considered before but.. why can't the JSON registration information be its own resource ie. the target of the oidcRegistration property be an object property / information resource - it can remain JSON as is (application/json). That would leave the WebID Profile document "cleaner". Certainly it is another hop in

[2021-03-28 14:22] acoburn commented on #75
IOW, if the format of this is up for discussion, I would suggest that we drop the word "webid" from client identifiers, and make those pure JSON documents. (Sort of like @csarven's suggestion but without the multiple hops)

[2021-03-29 12:42] elf-pavlik commented on #75
@acoburn which values from that OIDC registration your implementation is actually using?

I can see clearly where `client_id`, `redirect_uris`, `client_name`, `client_url`, `logo_uri` and `tos_uri` would be used. On the other hand I don't see where other values would be used.

[2021-03-29 13:10] acoburn commented on #75
* client_id
* client_secret
* redirect_uris
* client_name
* logo_uri
* tos_uri
* grant_types
* response_types
* application_type
* contacts
* client_uri
* policy_uri
* token_endpoint_auth_method

All other values in that JSON blob would be ignored

[2021-03-29 13:14] elf-pavlik commented on #75
When `grant_types`, `response_types` and `token_endpoint_auth_method` from registration are being used?

[2021-03-29 14:08] dmitrizagidulin commented on #157
While I hope we can support most DID methods, what's the use case for supporting did-jwt? (Instead of, say, did:key or did:web?)

[2021-03-29 17:42] OR13 commented on #156
thats because you are using base64 of json as canonicalization... I imagine the costs of this approach will become untenable for very large credentials... as we have already seen for JWT elsewhere... https://developer.okta.com/blog/2017/08/17/why-jwts-suck-as-session-tokens#size

Regarding the other points regarding OWL, I am sure @dmitrizagidulin will be happy to comment on this... I have lost th

[2021-03-29 19:23] bblfish commented on #157
I am not sure. I'll leave it to the did community to decide.
For the moment it does perhaps have the advantage of being easy to parse and create, as base64URL encoding the jwt which is well known is easy. Are there tools  to look at the `did:key` structure? I could not quite work out if there was [an encoding for RSA keys](https://github.com/w3c-ccg/did-method-key/issues/33).  So at least it would

[2021-03-29 20:01] bblfish commented on #156
Thanks for those pointers. Interesting conversation on OWL. I can feel and urge to commenting on those, but I have some deadlines... :-/ Note, I did spend quite a lot of time on the subject a while back with the [cert ontology](https://www.w3.org/ns/auth/cert#).

I think I am going to get going with the dereferenceable keyID returning a graph in whatever serialization that MUST contain a `security

[2021-03-29 20:05] bblfish commented on #157
The deeper problem is to work out why `hs2019` is the only supported algorithm in Signing HTTP messages as pointed out above. Because if the attack it is meant to defend against is the changing of the signature algorithm, then would not both `did:key` and `did:jwt` have the same problem? (Unless one were to propose signing headers directly with the RSA key without going through the hash algorithm?

[2021-03-30 10:44] David-Chadwick commented on #157
right, did:key doesnt support rsa because the rsa key is too big

There are no such size contstraints in did:jwt

[2021-03-30 10:45] David-Chadwick commented on #157
Not for did:jwt, because this is meant to be used for self-signing VCs or VPs using JWT. Hence the kid is inside the signature, and thus cannot be changed.

[2021-03-30 10:51] bblfish commented on #157
Have you thought of encoding `did:jwt` in a binary JSON format like [BSON](https://en.wikipedia.org/wiki/BSON)? And then perhaps using something more efficient than base64, if that exists? Perhaps even there exists compression algos for short strings?

[2021-03-30 11:32] David-Chadwick commented on #157
No, because we want to conform to both the JWT and VC standards. Thus we have "kid":"did:jwt:<base 64 encoding of public key params>" Also size is not a problem. Base64 encoding is cpu efficient and the transfer size increase is minimal.

[2021-03-30 16:26] OR13 commented on #156
another related link for future readers... https://docs.joinmastodon.org/spec/security/

`security:publicKeyJWK` -> security:publicKeyJwk -> http://w3id.org/security#publicKeyJwk

[2021-03-30 16:57] elf-pavlik commented on #75
During meeting we decided to wait for @acoburn to submit proposal for JSON-LD representation with specific `@context` which would allow IdP to parse it as regular JSON.

@RubenVerborgh do you have recommendation for using [Content Negotiation by Profile](https://www.w3.org/TR/dx-prof-conneg/) so that IdP could indicate in request that it expects that specific JSON-LD representation of document des

[2021-04-08 15:43] calummackervoy opened #161 "On phishing with a WebID"
I was thinking about an existing problem with email, namely that people register similar looking emails and use this in phishing attacks on users

The [RFC 5321](https://tools.ietf.org/rfc/rfc5321.txt) states that the mailbox in mailbox@hostname of an email format is case-sensitive. ALICE@example.com and alice@example.com are therefore different email addresses (the domain is case-insensitive). Ma

[2021-04-08 16:00] bblfish commented on #161
That is an interesting point, as WebID's should be short enough to type into a browser and humanly readable.

WebIDs and Solid follow the motto that WebID and other RDF URIs should mostly be manipulated by software. Such software should seek confirmation of links: eg. a WebID pointing to a blog, could be confirmed by having the blog point back to the WebID. A public key in a WebID profile can be c

[2021-04-08 16:54] acoburn commented on #161
It is important to point out that _only_ the path portion of a URL is case-sensitive.

In any case, the access token used to access a user's Pod is always generated by an IdP, and the WebID (or DID) identifier will be found in that access token, so ultimately, it's a question of what the IdP produces and whether the user's WebID document contains a trust relationship with that IdP.

Furthermore, c

[2021-04-09 13:03] elf-pavlik commented on #161
What exactly do you propose as "SHOULD" in the spec?

[2021-04-09 14:27] calummackervoy commented on #161
@bblfish I see, so am I right in understanding that if something that the user owns is stored on a server, it should have a reverse link to the owner, and any application reading should be expected to check that reverse link against any claims?

For me that clears up my concerns about applications using Solid, I left that part in because it's a little hard to visualise and I was unsure

@acoburn I

[2021-04-09 14:27] calummackervoy commented on #161
@elf-pavlik that the IdP should place some appropriate controls on a user's WebID path

[2021-04-09 14:43] acoburn commented on #161
I imagine that would be appropriate for a "Security Considerations" section. For all IdP-related code I've ever written, user account identifiers are normalized, and I suspect that's fairly typical.

tomorrow I get a notification that http://IdP.com/users/Alice/ wants me to share my data with http://appplication.com

That seems like a problem with the IdP that it would have separate identities tha

[2021-04-09 16:28] bblfish commented on #161
Checking links back allows one to develop a chain of trust, yes.  You can build a lot on that.
I have a proposal for a [Web of Nations](https://co-operating.systems/2020/06/01/) that is buildt on that and https. So I think you can go very far that way.

There are other ways of verifying things of course too, which will be complimentary.

 Not everything can be verified in life though. So we still

[2021-04-10 03:19] elf-pavlik commented on #161
Actually nothing requires IdP to host user's WebID. User can delegate to any IdP they choose, and can change IdP they are delegating to by setting relation `solid:oidcIssuer` in their WebID document. WebID document can be hosted anywhere on the web, though often it would be hosted in solid storage (pod) to take advantage of read-write and access control features.

@acoburn does this particular imp

[2021-04-10 10:58] acoburn commented on #161
The IdPs don't host WebID documents but they do use a type of URI template based on user account names

[2021-04-10 20:47] bblfish commented on #151
It is not clear that the problem I described above is still valid with the [April release of Signing HTTP Messages v03]( https://tools.ietf.org/html/draft-ietf-httpbis-message-signatures-03#section-2.4.2). See @jricher's mail to the [HTTP Bis WG](https://lists.w3.org/Archives/Public/ietf-http-wg/2021AprJun/0022.html).

[2021-04-12 19:26] jricher commented on #151
@bblfish Sorry for the confusion between the versions, we (the HTTPSig editors) are tackling the biggest changes a piece at a time and that can lead to confusion like this! The changes in -03 signal the intended direction of the spec: separate specification of the key identifier and algorithm, for implementations that need to specify that. If you can get both from just the key, that's also allowed

[2021-04-12 19:33] bblfish commented on #151
Ah great, to hear that.
I understand why moving the signature to its own separate header was such an important move.
I should be able to provide some feedback on the draft pretty soon, now that I have [implemented RFC8941](https://github.com/co-operating-systems/Reactive-SoLiD/issues/13).

[2021-04-13 13:09] bblfish commented on #151
I think I found a bug in "Signing HTTP Messages", and reported it here: https://github.com/httpwg/http-extensions/issues/1456

 But I think this issue can be closed, as the new spec allows the algorithms to be specified again.

[2021-04-13 13:09] #151 closed

[2021-04-14 07:38] calummackervoy commented on #161
@bblfish thanks for the reading recommendations I'll get into that. For info on David Lewis - Scorekeeping in a Language Game I found [this PDF](https://www.princeton.edu/~harman/Courses/PHI534-2012-13/Nov26/Scorekeeping_20in_20a_20Language_20Game.pdf)

I think that this approach could work, but if the webID was _very_ similar, e.g. `Alice`  vs `alice`, I still think that a lot of users would clic

[2021-04-14 08:02] bblfish commented on #161
Note: I don't myself really think we need IdP's at all. The WebID document is the Identity, and that can be used for authentication using [HttpSig](https://github.com/solid/authentication-panel/blob/main/proposals/HttpSignature.md).

The question is how do you trust the information about the agent described in that document. And there it depends on the information.

1. If there is a public key lis

[2021-04-14 12:52] elf-pavlik commented on #161
I think we will need some 'best practices' document. I know that many implementations put different instances of solid storage (datastore) on different subdomains, one could get similar subdomain but not something only differing by path.

WebID document links to IdP currently designates and their OIDC Provider. Pretty much we always follow the nose starting from user's WebID.

[2021-04-16 16:07] kjetilk opened #162 "Caching in Solid-OIDC and protocol concerns"
I have read the Solid-OIDC draft, and it was very readable, thank you for that!

My initial thought was the the general flow requires quite a lot of connections, and that we should look into optimizations. Since I'm more than average interested in caching as an approach, I started thinking what we could do on the protocol level for this.

AFAICS, Solid-OIDC does not make normative statements that

[2021-04-16 16:44] acoburn commented on #162
Aside: there is no `exp` claim that is part of the DPoP specification, so we should remove any references to that. `exp` claims just apply to the access token.

it would be problematic to _not_ validate the signature. For instance, if I provide one access token with `kid: "foo"` that is validated successfully and then provide a false access token in the next request (one which claims to be some di

[2021-04-16 22:59] kjetilk commented on #162
OK!

OK, thanks for the explanation!

Great! I think these optimizations will be important, as they can address some of the performance requirements that will inevitably arise.

[2021-04-19 17:41] calummackervoy commented on #161
Thanks @bblfish I hadn't read about HttpSignatures... I suppose that using an IdP gives you the ability to authenticate your identity in Solid-less contexts, as if it was a vanilla OIDC provider? I've tested our (WIP) [implementation of Solid-OIDC in Django](https://git.startinblox.com/djangoldp-packages/django-webidoidc-provider/merge_requests/10) using Bearer tokens

I think that the suggestion

[2021-04-21 08:44] bblfish commented on #161
@calummackervoy

I think that is only true if well known OIDC providers adopt the Solid-OIDC spec.

[2021-04-21 11:26] bblfish opened #163 "Multiple WWW-Authenticate and Authorization headers"
The [RFC7235 syntax for](https://tools.ietf.org/html/rfc7235#appendix-C) and `WWW-Authenticate` and  `Authorization` uses `,` (commas) to separate key-value pairs rather that semicolons as many other header fields and as suggested by [RFC8941](https://www.rfc-editor.org/rfc/rfc8941.html) for new header fields. This means that one has to be very careful when parsing concatenated `WWW-Authenticate`

[2021-04-23 22:05] bblfish opened #164 "can `keyid` really hold a URL?"
In [Signing HTTP Messages v04](https://www.ietf.org/archive/id/draft-ietf-httpbis-message-signatures-04.html#section-2.4.2) the `keyid` parameter of the `Signature-Input` is specifed to be of type `sf-string`.  This is defined in [RFC8941](https://www.rfc-editor.org/rfc/rfc8941#section-3.3.3)

[code]

and a little later

This means that if one is to place a URL in the keyid field it needs to be en

[2021-04-24 06:33] bblfish commented on #164
Looking around the spec text that I think addresses this is [RFC3987 Internationalized Resource Identifiers §3.1](https://tools.ietf.org/html/rfc3987#section-3.1). The [Link header](https://httpwg.org/specs/rfc8288.html#header) RFC only talks in terms of URIs. So the reference should probably be the [URI spec](https://tools.ietf.org/html/rfc3986#section-2.1).

The right code is the something like

[2021-04-25 20:34] bblfish opened #166 "Should Solid specify a syntax for Realm?"
I am trying to work out what the meaning of Realm could be in HttpSig. Do we use it consistently elsewhere?

An obvious way to use it would be to have it related to Containers and subcontainers.
Perhaps the following would say that any authentication is ok for any sub resource in "/comments/"?

[code]

or should it be something with some form of regex as in

[code]

[2021-04-26 07:49] bblfish opened #167 "sending access control rules to the client in 401 body?"
When returning a 401 the server can link to the access control resource using Link acl headers as in

[code]

The allows the client to fetch the description at that resource, as described in [ACLs on ACLs](https://github.com/solid/authorization-panel/issues/189). In HTTP/2.0 the content could be immediately pushed to the client too using "server push", to avoid the delay of a request. (see [Inbox

[2021-04-26 13:38] elf-pavlik commented on #166
some prior conversation in #9

[2021-04-27 12:50] elf-pavlik commented on #167
@bblfish After discussin it during the last call, do you still see need for more feedback or you can close this issue already?

[2021-04-27 15:34] bblfish commented on #167
Nobody in the call was supportive of the idea, for essentially the reasons given above.
Perhaps @csarven has an opinion?

[2021-04-27 15:35] csarven commented on #167
Do not close an issue without recording a reasonable response to the points raised.

---

Did you mean to write "server" (instead of "client")? That PR didn't at all hint at including the content of eg. an ACL resource in the response body! What was mentioned was about structured error messages!

[2021-04-27 16:41] bblfish commented on #167
fixed.

The main objection is that resources that return a 401 will need to return human readable content for say human readable content. That I think is similar to the content-negotiation issues. Of course the HTML could return RDFa come to think of it.

The other point is that HTTP/2 has an optimization for returning content in advance when needed - though I heard it had been switched off by chr

[2021-05-03 20:04] csarven commented on #167
I still don't understand the purpose of this issue.. is it to explore the possibility? Did someone suggest it? Where?

RFC 7231 says:

   usually contain a payload that represents the error condition, such
   that it describes the error state and what next steps are suggested
   for resolving it.

Including the required access control rules in the response body wants to give different semantics to

[2021-05-04 07:30] bblfish commented on #167
Including the access control rules, seems to be compatible with what the text from RFC 7231 says, since the Access Control Rules tell the client what the next steps to follow are.

I brought it up, as it is an option. Following the `Link: <...>; rel="acl"` header is another.

[2021-05-05 09:49] csarven commented on #167
Link relation to an ACL resource conveys something different than the response body in a 401.

The link relation is not an advertisement for how to resolve the error but indeed a client could make use of it towards resolving the error.

I don't find dumping the authorization policies in the response body in and itself hints at "next steps" to resolve the error. If need to, it should be more explic

[2021-05-10 18:06] elf-pavlik commented on #145
I see it relevant to reference working happening in interoperability panel which also addresses concerns directly related to data access. I'm working on some sequence diagrams in https://github.com/solid/data-interoperability-panel/pull/97#issuecomment-834692289

While Authorization Agent (role introduced in Solid Application Interoperability spec) would have special privilege to access data, poss

[2021-05-17 14:23] csarven opened #170 "Create Document Conventions / Namespaces section for Solid OIDC"

[2021-05-25 23:16] acoburn commented on #171
The Solid-OIDC specification makes it clear what a conforming value is. It does not need to clarify what a non-conforming value would be.

[2021-05-30 13:54] #25 closed

[2021-05-30 13:54] #27 closed

[2021-05-31 12:32] #171 closed

[2021-06-16 00:47] acoburn commented on #158
With the addition of a [JSON-LD representation of a client identifier](#165), I believe this issue can be considered resolved.

[2021-06-16 00:48] acoburn commented on #109
With #165, I believe this issue can be closed

[2021-06-16 12:07] matthieubosquet commented on #109
Sounds like it.
If I understand correctly, in the current proposal, the `solid:oidcRegistration` predicate becomes obsolete.
Is that correct?

[2021-06-16 12:44] acoburn commented on #109
That is correct

[2021-06-16 13:11] #109 closed

[2021-06-17 06:14] csarven commented on #158
XXX: This is a test comment and will be deleted. Please ignore. [JSON-LD representation of a client identifier](#165)

[2021-06-19 19:50] #158 closed

[2021-06-25 07:38] woutermont commented on #75
Not to reopen this issue, @acoburn, @elf-pavlik, but is the intent to change the WebID spec? With the current change, the Solid-OIDC spec seems to contradict it w.r.t the default content type (Turtle in the former, JSON-LD in the latter), thus making a Solid-OIDC client profile not a compliant WebID profile.

[2021-06-25 07:40] bblfish commented on #75
I don't think that would be a very big deal, especially if both types of content are being served. But if more flexibility is needed you can open an issue here https://github.com/w3c/webid too when the time is ripe.

[2021-06-25 07:47] woutermont commented on #75
Any application that relies on the WebID spec's default content type (Turtle) when requesting the profile (e.g. for other purposes than OIDC verification) will fail to process the JSON-LD response of a Solid-OIDC compliant client profile.

[2021-06-25 08:11] acoburn commented on #75
Perhaps the concern here is the name being used.

Would your concerns be allayed if the term WebID was not used in this context?

You will note in https://github.com/solid/authentication-panel/issues/146 that I would be in favor of completely removing any strict dependency on WebIDs as the principal mechanism of identity. In other words, WebID would simply be one of many possible ways to identify

[2021-06-25 09:47] woutermont commented on #75
I wholeheartedly aggree to keeping the future open to other types of identifiers, but I don't think this is merely a naming issue.

If the decision is to let the client "profile" no longer be a WebID profile, then there is indeed no contradiction, but i.m.o. that would loose the big advantage of having a single ID/profile with multiple purposes: a client would then have to identify with a JSON-LD

[2021-06-25 09:56] bblfish commented on #75
@woutermont wrote:

To start with the last point first, I think with Solid we should start off with the assumption that the server can content negotiate correctly multiple mime types. The server I am writing does not allow any names with `.` to be user generated. That pushes users to create resources like`/alice/card` and references inside that document can then be `/alice/card#i` which does not l

[2021-06-25 10:04] acoburn commented on #75
Please also note that the client identifier MUST have an RDF serialization and SHOULD be available as JSON-LD with the `@context` mentioned in the text. How does that conflict?

[2021-06-25 11:08] woutermont commented on #75
Hm, maybe I'm missing the relevance of your replies, but

  - I think presuming content negotiation is not a good idea if it is not strictly needed (e.g. by having all standards serve Turtle by default). Again, why throw away the freedom and independence of hosting profile documents on any static server, or even as a temporary bin file?
  - Even if we assume content negotation, a WebID profile and

[2021-06-25 11:12] bblfish commented on #75
As I said we could change the WebID spec too. The logic of your argument leads one to think that there "default" content types will end up dying out as different spec writers will just go their merry way believing their serialization is better than others. Best: ask for the preferred content types in the request.

[2021-06-25 11:36] acoburn commented on #75
Let me also provide some additional background. The "default" data model for OIDC and OAuth is JSON. The "default" data model for Solid is RDF. We initially bridged that difference with a JSON literal embedded in a Turtle document. This worked but it was awkward and no one liked it, and so we moved to JSON-LD. JSON-LD provides the best fit for joining OIDC and Solid, and this achieved consensus in

[2021-06-25 11:56] acoburn commented on #75
And more background:

There are two kinds of consumers for these "client identifiers". The first type appears to be what @woutermont is focused on: Solid-aware clients acting in the Solid ecosystem. For instance: a browser based app. For these apps, I would ask: does a client-side Solid-aware really not send `Accept` headers?

There is a second type of consumer, though, that is critical to how thi

[2021-06-28 13:56] csarven commented on #128
https://github.com/solid/authentication-panel/issues/133

[2021-06-28 14:39] bblfish commented on #145
HttpSig uses the security vocabulary to identify users: see [JWK in Access Control](https://github.com/solid/authorization-panel/discussions/225). As a result it will make sense to be able to describe agents using that relation.

eg:

[code]

[2021-06-28 15:01] elf-pavlik commented on #75
We discussed it during the meeting today and we are going to follow up here.

[2021-06-28 15:15] elf-pavlik commented on #75
IMO we should clarify if Solid-OIDC provides directly all the conformance criteria for client's profile document. Or if we delegates some conformance criteria to WebID draft and implementing all the criteria directly included in Solid-OIDC isn't sufficient to fully conform.

[2021-06-29 07:24] bblfish commented on #164
I think the above answered my question

[2021-06-29 07:24] #164 closed

[2021-06-29 07:41] woutermont commented on #75
Thanks for the follow-up!

@acoburn, I am aware of the background you sketched, and share your preference for JSON-LD. However, I think default serializations are an important part of web specs, and until we decide to abolish them I think we should align them carefully. Either of your suggestions (_remove the specific reliance on WebID_, or _change the WebID specification_) is, in that way, accept

[2021-06-29 09:15] bblfish opened #179 "security vocabulary definitions"
It is a bit difficult to work out what the definitions of some of the concepts we are using are and where they are located, which ones are stable and not. So as we are making decisions on how to use these we need to track these carefully.

## security:controller

In a discussion [on JWK in the Authorization Panel](https://github.com/solid/authorization-panel/discussions/225#discussioncomment-88098

[2021-06-29 10:01] bblfish commented on #156
I have gathered all the definitions for the security vocabulary that I could help to work this out in this issue https://github.com/solid/authorization-panel/discussions/225

[2021-06-29 10:07] bblfish commented on #145
actually I have [carefully documented the security vocabulary](https://github.com/solid/authentication-panel/issues/179) and so I now think the above identification of keyId and WebID is wrong... (But not final) In any case the point remains that whatever usage one has of the security voabulary it could be used in the access control rules.

[2021-07-02 16:57] matthieubosquet opened #181 "Advertising trusted OIDC issuers via Link headers"
Allowing servers to advertise the trusted OIDC issuers on HTTP HEAD and GET requests to the `foaf:PersonalProfileDocument` containing the WebID via Link headers of relation type `http://www.w3.org/ns/solid/terms#oidcIssuer` seems like a nice optimisation. 

Of course, it is equivalent to saying that the trusted OIDC issuers list is at the resource level instead of specifically WebID level. But the

[2021-07-02 19:02] elf-pavlik commented on #181
Earlier version had this option but we decided to remove it. I think sometimes one doesn't have control over headers of their WebID Document. In that case parsing the document is required anyways.

I don't understand why do you see it as *massive speed up* ?

[2021-07-02 21:42] acoburn commented on #181
A speed up would be based on two factors:

1. No payload being transferred. This probably isn't significant in cases where a WebID is small. There are, however, WebID documents in the wild with many thousand triples; for example, `https://ruben.verborgh.org/profile/#me`.
2. No RDF parsing. For larger RDF documents, parsing an RDF serialization into a graph does not come for free. Relying only on h

[2021-07-02 22:54] matthieubosquet commented on #181
@acoburn as discussed in https://github.com/solid/authorization-panel/issues/228#issuecomment-870432999, I don't think that there is a very well defined universal way to translate link headers to RDF. If we're in the realm of conventions, maybe we have some margin to define the semantic meaning of this header.

In any case, as you said, it's really a range-14 debate which in a way, I think we can

[2021-07-02 23:40] elf-pavlik commented on #181
I think `anchor` should address it

[code]

https://datatracker.ietf.org/doc/html/rfc8288#section-3.2

   is the URL of the representation it is associated with, as defined in
   [RFC7231], Section 3.1.4.1, and is serialised as a URI.

   such as a fragment of this resource, or a third resource (i.e., when
   the anchor value is an absolute URI).

[2021-07-11 10:20] bblfish opened #182 "Use HTTP-Signature instead of WebID-RSA"
@dlongley and @msporny's [draft-cavage-http-signatures-05](https://tools.ietf.org/html/draft-cavage-http-signatures-05) has a few implementations, and is written in a style that has chances to get adoption by the IETF. It is generic enough to satisfy a  wide set of use cases. And there is strength in numbers. This suggests that we use that as the basis for WebID-RSA ( though it could do with a bet

[2021-07-23 05:14] matthieubosquet commented on #86
Can/should we transfer https://github.com/solid/authentication-panel/issues/86 & https://github.com/solid/authentication-panel/issues/146 to https://github.com/solid/solid-oidc?

I think the `solid` scope matched with a `solid` claim does make sense.

I couldn't pinpoint where the requirement is clearly expressed in the spec with a "MUST", but it seems to me that missing it is problematic.

[2021-07-23 05:14] matthieubosquet commented on #146
Maybe we could define the claim as:

[2021-07-23 07:20] acoburn commented on #86
Yes we can start transferring these issues

[2021-08-17 08:59] NSeydoux opened #186 "Should Solid-OIDC mention RFC 8707 OAuth 2.0 Resource Indicators ?"
This question comes from experimenting with [`node-oidc-provider`](https://github.com/panva/node-oidc-provider), the OIDC Provider component used in the Community Server. In its latest version, `node-oidc-provider` bases its support for JWT-formatted Access Tokens on OAuth Resource Indicators (see [RFC 8707](https://datatracker.ietf.org/doc/html/rfc8707): by default, the OP returns opaque Access T

[2021-09-02 08:53] NSeydoux commented on #186
Some discussion happened during a [weekly meeting](https://github.com/solid/authentication-panel/blob/main/meetings/2021-08-30.md) which is relevant to the current issue.

To summarize, an architectural change is being considered, where the authentication and authorization would be properly separated. This means that Solid-OIDC would only deal with authentication, and would not issue access tokens

[2021-09-02 12:38] elf-pavlik commented on #186
Thanks for posting the summary @NSeydoux

We could consider transferring this issue to AuthZ panel.

[2021-09-06 15:25] NSeydoux opened #192 "Find ways of engaging more with the community"
As discussed during [a meeting](https://github.com/solid/authentication-panel/blob/main/meetings/2021-08-23.md), it would be interesting for the panel to enable more community engagement. Regular meetings should carry on as they are, because it makes it much easier to discuss about specification matters assuming a certain level of intimacy with the discussed concepts.

However, part of the specifi

[2021-09-07 07:20] woutermont commented on #186
@NSeydoux, I've read the notes of the meeting of August 30th, but I fail to see the rationale of restricting Solid-OIDC to authentication, just to come up with an elaborate new structure for authorization that relies on the same kind of AS.

As I have also tried to argue in [solid/data-interoperability-panel#139](https://github.com/solid/data-interoperability-panel/issues/139), Resource Indicators

[2021-09-07 08:00] woutermont commented on #192
Personally, as a Solid library and application developer, some of the main hurdles of engaging with the panel(s) are
- having not enough time to follow up on all the panels, repos, issues, fora, channels etc. next to actual developing; and
- input having no effect, since a first consensus seems mostly to have been reached very early on already (and _assuming a certain level of intimacy with the di

[2021-09-07 12:11] acoburn commented on #186
There are several issues to unpack here.

OpenID Connect is a specification that deals with identifying agents (authentication). Solid has historically used the access tokens that are generated by an OpenID Connect server. This has two consequences:

* The OIDC access tokens are _extremely_ powerful. They can be used for access across the entire Solid ecosystem. There are legitimate concerns about

[2021-09-07 12:13] acoburn commented on #192
@woutermont I would emphasize what was suggested above:

I would encourage you to attend such a session

[2021-09-07 12:44] woutermont commented on #186
I definitely agree that Solid-OIDC should be focussed on authentication, not authorization, and that using identity tokens to do so would be cleaner than using access tokens; no argument there. What I wondered was primarily why a complete overhaul of the authorization part would end up centralized around RS-linked OAuth2, while the latter is already present in all IDPs compliant with Solid-OIDC.

[2021-09-07 12:54] woutermont commented on #192
Of course, I would be glad to have such Q&As! My comment was definitely not meant to oppose that idea, but rather to add my two cents, based on personal experience, on what could affect the level of engagement addressed in this issue. (Specifically with regards to the Q&As, though, I doubt whether such a format would address any of the points I raised.)

[2021-09-07 12:58] elf-pavlik commented on #186
To my understanding access token issued by OP is intended to be used with [UserInfo](https://openid.net/specs/openid-connect-core-1_0.html#UserInfo) endpoint. This is information about authenticated user so in that case it makes sense.

Using terminology of [GNAP Roles](https://www.ietf.org/archive/id/draft-ietf-gnap-core-protocol-06.html#name-roles), we have two distinct roles: End-user (the one

[2021-09-07 16:30] KyraAssaad commented on #192
I think this would complement our initiative to bring more transparency and understanding of the various Solid teams/committees/panels undertaken in https://github.com/solid/deit/issues/18

WRT the reply from @woutermont

It might be a good idea to start a public-facing decision log. I wonder if a TL;DR summary after meetings would be beneficial as well. Just some thoughts to consider.

[2021-09-07 18:10] jeff-zucker commented on #192
I very much agree with all of  comments above.  What I would find most useful is a frequently updated "score card" which basically lists all features and categorizes them as definitely in, definitely out, still thinking.  The idea of a monthly meeting between implementers/panelists is great.  I suggest that it be moderated by an implementer and that the focus be on answering implementer questions

[2021-09-07 18:59] MarrelleBailey commented on #192
I would second the agreement. I think Q&A or an informative session will be
very beneficial for others outside of the panels to attend. I really think
it will help others to understand how they can contribute fully and what's
going on. As for DEI, we can touch on this subject during our next meeting.
Since we have an issue already raised, it will be good to ensure we make
progress.

*Marrelle Bail

[2021-10-08 07:23] woutermont commented on #46
Of course, current classic OIDC providers could perfectly implement the create prompt, but have not (yet).

I fail to see, however, how that prevents Solid-OIDC from adopting it. After all, the current draft is already so complex that it is impossible to make most popular OIDC providers compliant without some serious backend development:

- Some providers don't support DPoP (which is also still a

[2021-10-08 12:13] acoburn commented on #46
By that argument, adding another requirement to this specification makes very little sense.

I can think of two that currently support this.

[2021-10-11 07:38] NSeydoux opened #195 "Document reference implementations and supported features"
In a [thread on the Solid forum](https://forum.solidproject.org/t/inrupt-pod-login-complains-about-an-invalid-client/4726/3), two users make a good point that it would be convenient to have a place documenting the features of the specification supported by existing implementations. I guess this is should eventually be automated using the test suite, so would it be worth to have a table of features

[2021-10-23 01:32] crspybits commented on #195
Thanks for this, @NSeydoux.  Can I please get a reference to these test reports?

[2021-11-22 22:22] NSeydoux opened #201 "Specify the client authentication method when using a Client Identifier"
When making a request to the token endpoint of an OIDC provider, a client usually authenticates itself. Client authentication methods at the token endpoint are described in the [OpenID spec](https://openid.net/specs/openid-connect-core-1_0.html#ClientAuthentication) (and to some extent the [OAuth 2.0 spec](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1), and they usually rely on a cli

[2021-11-23 14:03] elf-pavlik commented on #201
This sounds reasonable to me, would you like to make PR with what you are proposing here?
We can also wait a little bit for feedback from @acoburn

Looking at https://openid.net/specs/openid-connect-core-1_0.html#TokenRequestValidation

OP needs to know `client_id` associated with the presented Authoization Code. Does the client really need to provide it in the Token Request?

[2021-11-29 12:16] NSeydoux commented on #201
I'll open a PR after having discussed this in today's panel meeting. And the way I understand the spec you linked to, if the client used some authentication method during the Authorization request, it should include its authentication information during the Token Request too.

[2022-01-17 14:25] bblfish commented on #182
I now have the tests working for Signing Http Messages 07 having implemented most of it.
The implementation is available in the [httpSig](https://github.com/bblfish/httpSig) repo.
Currently it works with JVM based [Akka](https://akka.io).
I going to try to get it to work for [http4s](https://http4s.org) next so I can use it in the the browser with JS - and it could also be made to work on nodejs.

[2022-01-17 19:45] justinwb opened #204 "Terminology - use of IdP / Identity Provider"
I noticed the following in [Terminology](https://solid.github.io/solid-oidc/#terms):

…but [Open ID Connect Core](https://openid.net/specs/openid-connect-core-1_0.html) doesn’t define or use Identity Provider (or IdP) anywhere. Instead. They do use OpenID Provider (OP).

Originally raised [in gitter](https://gitter.im/solid/authentication-panel?at=61e59066bfe2f54b2e21e642)

[2022-03-08 13:27] #74 closed

[2022-09-22 12:14] namedgraph commented on #111
What I meant matches the description of an OIDC token exchange:
https://www.rfc-editor.org/rfc/rfc8693.html

[2022-09-22 12:33] elf-pavlik commented on #111
Current Solid-OIDC uses UMA claims to push to exchange an ID Token for Access Tokens.

When it comes to the access delegation chain, which is more about AuthZ than AuthN, I captured one of the explored directions in https://github.com/solid/data-interoperability-panel/issues/222

-----

This will very likely be needed to deliver [notifications](https://github.com/solid/notifications) (Webhook, LDN